<ion-pane>
  <ion-content>
    <!--////////////////////////////// col ////////////////////////////////-->
    <div class="row rowSetting responsive-lg">
      <div class="col col-75 firstRow">
      </div>

      <div class="col colSetting">
        <ion-scroll>
        <ul class="list">
          <li class="item headingList">Prompts <i class="ion-close-round"></i></li>
          <li class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo. Fusce accumsan ultricies elementum.
          </li>
          <li class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo.
          </li>
          <li class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper,
          </li>
          <li class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo.
          </li>
          <li class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
        </ul>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
</ion-pane>
