<span class="closeIcon" ng-click="closeShowAdvanceImageUploadPopup()"><i class="ion-android-close"></i></span>
<ion-scroll zooming="true" direction="y" style="height: 600px">
  <div class="bodyContent">
  <div class="buttonBox">
      <button type="button" class="alignLeft">Uploaded</button>
      <button type="button" class="alignRight">Upload New</button>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
    <img src="img/speaker.jpg" alt=""/>
  </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
    <div class="imageBox">
      <img src="img/speaker.jpg" alt=""/>
    </div>
  </div>
  <!--///////////////////// images popup ////////////////////////////-->


</ion-scroll>
