<ion-scroll zooming="true" direction="y" style="height: 700px">
  <!--<div class="bodyContent">-->
    <!--<div class="buttonBox">-->
      <!--<button type="button" class="alignLeft">Uploaded</button>-->
      <!--<button type="button" class="alignRight">Upload New</button>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
    <!--<img src="img/speaker.jpg" alt=""/>-->
  <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
    <!--<div class="imageBox">-->
      <!--<img src="img/speaker.jpg" alt=""/>-->
    <!--</div>-->
  <!--</div>-->
  <!--///////////////////// images popup ////////////////////////////-->

  <!--///////////////////// image selected popup ////////////////////////////-->
  <div class="bodyContent">
    <h2>Video selected</h2>
    <div class="videoContent">
      <a href="javascript:"><i class="ion-ios-arrow-back"></i> Back to video</a>
      <div class="selectedVideos">
        <img src="img/speaker.jpg" alt=""/>
      </div>
    </div>
    <div class="ImagesContent">
      <h2>Choose a thumbnail for your video:</h2>
      <div class="imagesBox">
        <div class="bomImg">
          <img src="img/speaker.jpg" alt=""/>
          <p>select</p>
        </div>
        <div class="bomImg">
          <img src="img/speaker.jpg" alt=""/>
        </div>
        <div class="bomImg">
          <img src="img/speaker.jpg" alt=""/>
        </div>
        <div class="bomImg">
          <img src="img/speaker.jpg" alt=""/>
        </div>
        <div class="bomImg">
          <img src="img/speaker.jpg" alt=""/>
        </div>
        <div class="bomImg">
          <img src="img/speaker.jpg" alt=""/>
        </div>
      </div>
    </div>
  </div>

</ion-scroll>
