<div class="bar bar-header bar-stable headerApp">
  <div class="tabsApp">
    <ul class="appUl">
      <li><a href="javascript:">Sub Nav 1</a></li>
      <li><a href="javascript:">Sub Nav 2</a></li>
      <li><a href="javascript:">Sub Nav 3</a></li>
      <li><a href="javascript:">Sub Nav 4</a></li>
      <!--<li>-->
        <!--<button class="button button-block button-positive">-->
          <!--Get Started-->
        <!--</button>-->
      <!--</li>-->
    </ul>
    <div class="startedBtn">
      <button class="button button-block button-positive btnGet">
        Get Started
      </button>
    </div>
  </div>
</div>
