<ion-pane>
  <ion-content>
    <div class="login">
      <h1 class="title">the logo</h1>
      <h4>Forgot your Password?</h4>
      <span>Don't worry. It happens. Enter your email and we'll send you a link to reset it.</span>
      <form>
        <div class="list">
          <span class="input-label">Email address</span>
          <label class="item item-input">
            <input type="text" placeholder="example@the.com">
          </label>
        </div>
        <!--<div class="list">-->
          <!--<span class="input-label">Password</span>-->
          <!--<label class="item item-input">-->
            <!--<input type="password" placeholder="Password">-->
          <!--</label>-->
        <!--</div>-->
      </form>
      <!--<a href="javascript:" class="forgot-password">Forgot your password?</a>-->
      <div class="row">
        <div class="col col-50 col-offset-25">
          <button class="button button-block button-positive">
            Send Link
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
