<ion-pane>
  <ion-content>
    <div class="bar bar-header bar-stable headerNav">
      <div class="nav">
        <h1 class="title navHeading">the logo</h1>
        <div class="linksNav">
          <h6>Share Your Story</h6>
          <h5><a href="javascript:">Sign In or Sign Up</a></h5>
        </div>
      </div>
      <div class="tabsNav">
        <ul>
          <li><a href="javascript:">Sub Nav 1</a></li>
          <li><a href="javascript:">Sub Nav 2</a></li>
          <li><a href="javascript:">Sub Nav 3</a></li>
          <li><a href="javascript:">Sub Nav 4</a></li>
        </ul>
        <div class="startedBtn">
          <button class="button button-block button-positive btnGet">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
