<div class="bar bar-header bar-stable headerNav" style="position: relative;">
  <div class="nav">
    <h1 class="title navHeading">the logo</h1>
    <div class="linksNav">
      <a href="javascript:" class="full-information active">Life-In-Full</a>
      <a href="javascript:" class="full-information">Vital Information</a>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
      <a href="javascript:" class="my-account-link">Upgrade Now</a>
      <a href="javascript:" class="my-account-link">My Account</a>
      <!--<h6>Share Your Story</h6>-->
      <!--<h5><a href="javascript:">Sign In or Sign Up</a></h5>-->
    </div>
  </div>
  <div class="home1-tabs">
    <ul>
      <li><a href="javascript:" ng-click="openPopover($event)">Show All <i class="ion-chevron-down"></i></a></li>
      <li><a href="javascript:">View as Sphere</a></li>
      <li><a href="javascript:">View as List</a></li>
    </ul>
  </div>
</div>
<div class="row rowPadding">
  <div class="col col-75 firstRow">
    <h3>Identity</h3>
    <span>Select a Purpose to begin</span>

    <ion-content scroll="false">
      <ion-slides  options="options" slider="data.slider">
        <ion-slide-page>
          <div class="box blue"><h1>BLUE</h1></div>
        </ion-slide-page>
        <ion-slide-page>
          <div class="box yellow"><h1>YELLOW</h1></div>
        </ion-slide-page>
        <ion-slide-page>
          <div class="box pink"><h1>PINK</h1></div>
        </ion-slide-page>
      </ion-slides>
    </ion-content>

  </div>
  <div class="col">
    <div class="rightContent">
      <span>Welcome back, [user first name].</span>
    </div>
  </div>
</div>


<script></script>
