<div class="bar bar-header bar-stable headerNav">
  <div class="nav">
    <h1 class="title navHeading">the logo</h1>
    <div class="linksNav">
      <a href="javascript:" class="full-information active">Life-In-Full</a>
      <a href="javascript:" class="full-information">Vital Information</a>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
      <a href="javascript:" class="my-account-link">Upgrade Now</a>
      <a href="javascript:" class="my-account-link">My Account</a>
      <!--<h6>Share Your Story</h6>-->
      <!--<h5><a href="javascript:">Sign In or Sign Up</a></h5>-->
    </div>
  </div>
  <div class="home1-tabs">
    <ul>
      <li><a href="javascript:">Show All <i class="ion-chevron-down"></i></a></li>
      <li><a href="javascript:">View as Sphere</a></li>
      <li><a href="javascript:">View as List</a></li>
    </ul>
  </div>
</div>
