<span class="closeIcon" ng-click="closeInviteMemberPopup()"><i class="ion-android-close"></i></span>
<div class="list list-inset">
  <span class="input-label">Email Address</span>
  <label class="item item-input">
    <i class="ion-ios-email-outline"></i>
    <input type="text" placeholder="Invite by email address">
  </label>
</div>
<div class="list">
  <span class="input-label">Member Type</span>
  <label class="item item-input item-select">
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
  <label class="item item-input item-textarea">
    <textarea placeholder="Comments"></textarea>
  </label>
  <button class="button button-block button-positive">
    send invite
  </button>
</div>
