<ion-pane>
  <ion-content>
    <div class="login">
      <h1 class="title">the logo</h1>
      <h4>Hi, welcome back!</h4>
      <span>Sign in to get started. New here? <a href="javascript:">Sign up first.</a></span>
      <form>
      <div class="list">
        <span class="input-label">Email address</span>
        <label class="item item-input">
          <input type="text" placeholder="Search">
        </label>
      </div>
      <div class="list">
        <span class="input-label">Password</span>
        <label class="item item-input">
          <input type="password" placeholder="Search">
        </label>
      </div>

      </form>
      <a href="javascript:">Sign up first.</a>
      <div class="row">
        <div class="col col-50 col-offset-25">
          <button class="button button-block button-positive">
            Sing up
          </button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-pane>
