<ion-pane>
  <ion-content>
    <div class="login">
      <h1 class="title">the logo</h1>
      <h4>Hi, welcome back!</h4>
      <span>Sign in to get started. New here? <a href="javascript:">Sign up first.</a></span>
      <form>
        <div class="list">
          <span class="input-label">Email address</span>
          <label class="item item-input">
            <input type="text" placeholder="example@the.com">
          </label>
        </div>
        <div class="inputError"><i class="ion-alert-circled"></i> Your password do not match.</div>
        <div class="list">
          <span class="input-label">Password</span>
          <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
        </div>
      </form>
      <a href="javascript:" class="forgot-password">Forgot your password?</a>
      <div class="row">
        <div class="col col-50 col-offset-25">
          <button class="button button-block button-positive">
            Sign In
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
