<ion-pane>
  <ion-content>
    <div class="login">
      <div class="logo-Parent">
        <img src="img/unspecified" class="logo" alt=""/>
      </div>
      <div class="tabsBox">
        <h4 class="signUpH1">Create a new password.</h4>
        <span>Replace your old, forgotten password with a shiny new one.</span>
        <form>
          <div class="list listSignUp">
            <span class="input-label">New Password</span>
            <label class="item item-input">
              <input type="password" placeholder="Password">
            </label>
          </div>
          <p class="passwordCharacters">Your password must be at least 6 characters long.</p>
          <div class="list">
            <span class="input-label">Confirm new Password</span>
            <label class="item item-input">
              <input type="password" placeholder="Confirm Password">
            </label>
          </div>
        </form>
        <div class="row">
          <div class="col col-12">
            <button class="button button-block button-positive savePassword">
              Save Password and Go to Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
