<div class="profile-parent">
  <div class="change-profile">
    <img src="img/profile-image_03.png" alt=""/>
    <a href="javascript:">Change Photo</a>
  </div>
  <div class="profile-fields">
    <div class="list">
      <span>First Name</span>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <span>Last Name</span>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <span>Email Address</span>
      <label class="item item-input">
        <input type="email" placeholder="Email Address">
      </label>
    </div>
    <div class="select-date-picker">
      <div class="list">
        <span>Gender</span>
        <label class="item item-input item-select">
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
      <div class="list">
        <span>Date of Birth</span>
        <label class="item item-input item-select">
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
    </div>
    <div class="list">
      <span>Address</span>
      <label class="item item-input">
        <input type="text" placeholder="Address">
      </label>
      <span>Address Line 2</span>
      <label class="item item-input">
        <input type="text" placeholder="Address Line 2">
      </label>
      <span>City</span>
      <label class="item item-input">
        <input type="text" placeholder="City">
      </label>
    </div>
    <div class="select-date-picker">
      <div class="list">
        <span>State</span>
        <label class="item item-input item-select">
          <select>
            <option>Blue</option>
            <option selected>State</option>
            <option>Red</option>
          </select>
        </label>
      </div>
      <div class="list">
        <span>ZIP</span>
        <label class="item item-input">
          <input type="text" placeholder="53546">
        </label>
      </div>
    </div>
    <div class="list">
      <span>Primary Phone Number</span>
      <label class="item item-input">
        <input type="number" placeholder="Address">
      </label>
      <span>Cell Phone Number</span>
      <label class="item item-input">
        <input type="number" placeholder="Address Line 2">
      </label>
    </div>
    <div class="profile-button">
      <button type="button" class="">update profile</button>
    </div>
  </div>
</div>

