<!--<ion-scroll zooming="true" direction="y" style="height: 100vh">-->
<div class="col colSetting" ng-show="sidebar.prompt">
  <ul class="list">
    <li class="item headingList">Prompts <i class="ion-close-round" ng-click="sidebar.prompt = false"></i></li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit?
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper,
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo. Fusce accumsan ultricies elementum.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper,
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar sem vitae turpis semper, eu molestie ex commodo.
      </li>
      <li class="item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
    </ul>
  </div>
<!--</ion-scroll>-->
