<div class="refer-friend-content">
  <h2>Share The Human Experience and earn credit!</h2>
  <p>You can earn credit toward your monthly fee by referring your friends to The Human Experience. You'll get your credit when the sign up for their first month of membership.</p>
  <div class="field-area">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email Address">
      </label>
    </div>
    <button type="button">send invite</button>
  </div>
  <div class="invite-friends-area">
    <h2>More ways to invite your friends</h2>
    <button type="button" class="link-btn"><i class="ion-link"></i> copy link</button>
    <button type="button" class="share-btn"><i class="ion-social-facebook"></i> share on facebook</button>
  </div>
</div>
