<span class="closeIcon" ng-click="closeSaveAndPublishPopupPopup()"><i class="ion-android-close"></i></span>
<ion-scroll zooming="true" direction="y" style="height: 500px">
  <div class="paddingLeftRight">
    <h4>Save to:</h4>
    <div class="listsSelect">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Lightsaber
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
      <!--/////////////////////-->
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Lightsaber
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
      <!--/////////////////////-->
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Lightsaber
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
      <!--// ///////////////////-->
      <div class="list m-b-0">
        <label class="item item-input item-select">
          <div class="input-label">
            Lightsaber
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div>
    </div>
    <h4>Share via:</h4>
    <div class="socialLinks">
      <span class="facebookCircle"><i class="ion-social-twitter"></i></span>
      <span class="twitterCircle"><i class="ion-social-facebook"></i></span>
      <span class="skyeCircle"><i class="ion-android-navigate"></i></span>
    </div>
    <h4>Assign access:</h4>
    <div class="listItemsArea">
      <div class="list">

        <a class="item item-icon-left" href="javascript:">
          <img src="img/userImage_03.png" alt=""/>
          <span>Public - select names below</span>
          <p class="changeText">Change</p>
        </a>

        <a class="item item-icon-left item-icon-right" href="javascript:">
          <img src="img/userImage_03.png" alt=""/>
          <span>Name or group</span>
          <ion-list>
            <ion-checkbox ng-model="filter.red"></ion-checkbox>
          </ion-list>
        </a>

        <a class="item item-icon-left" href="javascript:">
          <img src="img/userImage_03.png" alt=""/>
          <span>Name or group</span>
          <ion-list>
            <ion-checkbox ng-model="filter.red"></ion-checkbox>
          </ion-list>
        </a>

      </div>
    </div>
    <h4>Invite people:</h4>
    <div class="popupField">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Enter email address">
        </label>
      </div>
    </div>
    <div class="rightAreaButton">
      <button type="button" class="saveBtn" ng-click="closeSaveAndPublishPopupPopupAndRedirect()">Save & Publish</button>
    </div>
  </div>
</ion-scroll>
