<div class="share-details-content">
  <!--<h4>Add Members</h4>-->
  <!--<button type="button"><i class="ion-plus"></i> add new member</button>-->
  <div class="left-content">
    <div class="circle">
      <h1>J</h1>
    </div>
  </div>
  <div class="right-content">
    <h1>John Doe</h1>
    <div class="content-info">
      <span>Joined April 25, 2017</span>
      <a href="javascript:">View Contact Info</a>
    </div>
    <button type="button">remove member</button>
    <span class="permissions">User Permissions</span>
    <div class="permission-area">
      <input type="radio" value="2"/>
      <h3>Permission set 1 name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue erat a magna tempus condimentum eget ut purus.</p>
    </div>
    <div class="permission-area">
      <input type="radio" value="3"/>
      <h3>Permission set 2 name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue erat a magna tempus condimentum eget ut purus.</p>
    </div>
    <div class="permission-area last-box">
      <input type="radio" value="4"/>
      <h3>Permission set 3 name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue erat a magna tempus condimentum eget ut purus.</p>
    </div>
    <div class="list">
      <span class="email-text">Email Address</span>
      <label class="item item-input">
        <input type="email" placeholder="Email Address">
      </label>
      <span class="email-text">When you publish a new post and choose to notify this user, and email will be sent to this address.</span>
    </div>
    <button type="button" class="update-email">update email address</button>
  </div>
</div>
