<div class="share-setting-content">
  <h4>Add Members</h4>
  <button type="button"><i class="ion-plus"></i> add new member</button>
</div>
<div class="users-content">
  <h4>Your Members</h4>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box">
    <div class="user">
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Hello</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
</div>
