<div class="share-setting-content">
  <h4>Add Members</h4>
  <button type="button" ng-click="inviteMemberPopup()"><i class="ion-plus"></i> add new member</button>
</div>
<div class="users-content">
  <h4>Your Members</h4>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <div class="user-name">
        <h2>D</h2>
      </div>
      <!--<img src="img/profile-image_03.png" alt=""/>-->
      <h4>John Doe</h4>
      <span>Follower Type -</span>
      <!--<a href="javascript:" class="resend">Resend Invite</a>-->
      <a href="javascript:" ng-click="removeMemberPopup($event)">Remove</a>
    </div>
  </div>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <img src="img/profile-image_03.png" alt=""/>
      <h4>John Doe</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Daisy Smith</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <div class="user-name">
        <h2>M</h2>
      </div>
      <h4>Ed Miles</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Jennifer Donald</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Samantha Smith</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Neil Bloom</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
  <div class="user-box" ng-click="changeSetting()">
    <div class="user">
      <button type="button">invited</button>
      <img src="img/profile-image_03.png" alt=""/>
      <h4>Daisy Smith</h4>
      <a href="javascript:" class="resend">Resend Invite</a>
      <a href="javascript:">Cancel Invite</a>
    </div>
  </div>
</div>
