<ion-pane>
  <ion-content>
    <div class="login">
      <h1 class="title">the logo</h1>
      <div class="tabs-striped tabs-top tabs-color-light signUpTabs">
        <div class="tabs">
          <a class="tab-item active" href="#">
            <!--<i class="icon ion-home"></i>-->
            Account Info
          </a>
          <a class="tab-item" href="#">
            <!--<i class="icon ion-star"></i>-->
            Personal Info
          </a>
        </div>
      </div>
      <h4 class="signUpH1">Well, hello there!</h4>
      <span>we're so glad you're ready to join THE. Let's start by creating your account login. Been here before? <a href="javascript:">Sign in.</a></span>




      <form>
        <div class="list">
          <span class="input-label">Email address</span>
          <label class="item item-input">
            <input type="text" placeholder="example@the.com">
          </label>
        </div>
        <div class="list listSignUp">
          <span class="input-label">Password</span>
          <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
        </div>
        <p class="passwordCharacters">Your password must be at least 6 characters long.</p>
        <div class="list">
          <span class="input-label">Confirm Password</span>
          <label class="item item-input">
            <input type="password" placeholder="Confirm Password">
          </label>
        </div>
      </form>
      <!--<a href="javascript:" class="forgot-password">Forgot your password?</a>-->
      <div class="row">
        <div class="col col-50 col-offset-25">
          <button class="button button-block button-positive">
            Next
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
