<div class="responsiveSliderBg">
  <h3><span class="identityIcon" ng-mouseover="openDesPopover($event)">Identity <span class="ion-ios-information-outline" ng-click="desPopup()"></span></span></h3>
  <span>Select a Purpose to begin</span>
  <div class="slickSlider">
    <slick>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
    </slick>
  </div>
</div>
