<div>
  <h3>Identity</h3>
  <span>Select a Purpose to begin</span>
  <slick>
    <div><img style="width: 300px; margin: 0 auto" src="../../img/ionic.png"></div>
    <div><img style="width: 300px; margin: 0 auto" src="../../img/ionic.png"></div>
    <div><img style="width: 300px; margin: 0 auto" src="../../img/ionic.png"></div>
    <div><img style="width: 300px; margin: 0 auto" src="../../img/ionic.png"></div>
    <div><img style="width: 300px; margin: 0 auto" src="../../img/ionic.png"></div>
    <div><img style="width: 300px; margin: 0 auto" src="../../img/ionic.png"></div>
  </slick>
</div>
