<div>
  <h3 ng-click="openDesPopover()">Identity</h3>
  <span>Select a Purpose to begin</span>
  <div class="slickSlider">
    <slick>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
      <div><img style="width: 80%; margin: 0 auto" src="../../img/ionic.png"></div>
    </slick>
  </div>
</div>
