<div class="side-nav hide-on-sm">
	<div class="list">
		<div class="item item-divider">
			Title
		</div>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form1'}" ng-click="headingChanged('Form1')">
			Form1
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form2'}" ng-click="headingChanged('Form2')">
			Form2
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form3'}" ng-click="headingChanged('Form3')">
			Form3
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form4'}" ng-click="headingChanged('Form4')">
			Form4
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form5'}" ng-click="headingChanged('Form5')">
			Form5
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form6'}" ng-click="headingChanged('Form6')">
			Form6
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form7'}" ng-click="headingChanged('Form7')">
			Form7
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form8'}" ng-click="headingChanged('Form8')">
			Form8
			<span class="item-note">12.12.17</span>
		</a>
	</div>
</div>
<div class="vital-info-address hide-on-md">
    <span ui-sref = "VitalInfo" class="first">Vital Info / </span>
    <span class="other">Medical Info</span>
</div>
<div class="hide-on-md">
	<div class="list">
		<a ng-click="modal.show()" class="item center-text">
			{{heading}} 
			<i class="icon ion-ios-arrow-down vertical-middle"></i>
		</a>
	</div>
</div>
<div class="vital-forms hide-on-sm">
	<div>
		<div class="tableLinks">
			<span class="active">{{heading}}</span>
		</div>
	</div>
</div>


<script id="templates/modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-stable modal-header">
			<h1 class="title center-text">Choose a Form</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-ios-close-empty"></i></button>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<div class="item item-divider">
					Title
				</div>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form1'}" ng-click="modalLinkClicked('Form1')">
					<h2>Form1</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form2'}" ng-click="modalLinkClicked('Form2')">
					<h2>Form2</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form3'}" ng-click="modalLinkClicked('Form3')">
					<h2>Form3</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form4'}" ng-click="modalLinkClicked('Form4')">
					<h2>Form4</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form5'}" ng-click="modalLinkClicked('Form5')">
					<h2>Form5</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form6'}" ng-click="modalLinkClicked('Form6')">
					<h2>Form6</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form7'}" ng-click="modalLinkClicked('Form7')">
					<h2>Form7</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': heading == 'Form8'}" ng-click="modalLinkClicked('Form8')">
					<h2>Form8</h2>
					<p>12.12.17</p>
				</a>
			</div>
		</ion-content>
	</ion-modal-view>
</script>