<div class="side-nav hide-on-sm">
	<div class="list">
		<div class="item item-divider">
			Title
		</div>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form1'}" ng-click="headingChanged('Form1')">
			Form1
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form2'}" ng-click="headingChanged('Form2')">
			Form2
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form3'}" ng-click="headingChanged('Form3')">
			Form3
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form4'}" ng-click="headingChanged('Form4')">
			Form4
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form5'}" ng-click="headingChanged('Form5')">
			Form5
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form6'}" ng-click="headingChanged('Form6')">
			Form6
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form7'}" ng-click="headingChanged('Form7')">
			Form7
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': heading == 'Form8'}" ng-click="headingChanged('Form8')">
			Form8
			<span class="item-note">12.12.17</span>
		</a>
	</div>
</div>
<div class="vital-forms">
	<div>
		<div class="tableLinks">
			<span class="active">{{heading}}</span>
		</div>
	</div>
</div>