<div class="side-nav hide-on-sm">
	<div class="list side-menu">
		<div class="item item-divider title">
			Contents
		</div>
		<a class="item" ng-class="{'side-nav-clicked': location == 'emergency-contacts'}" ui-sref = 'VitalInfo.MedicalInfo.EmergencyContacts'>
			Emergency Contacts
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'medical-profile'}" ui-sref = 'VitalInfo.MedicalInfo.MedicalProfile'>
			Medical Profile
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'medications'}" ui-sref = 'VitalInfo.MedicalInfo.Medications'>
			Medications
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'vaccines'}" ui-sref = 'VitalInfo.MedicalInfo.Vaccines'>
			Vaccines/Immunizations <button class="blue-button float-right" ng-click="showList('vaccine')">LIST</button>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'allergies'}" ui-sref = 'VitalInfo.MedicalInfo.Allergies'>
			Allergies <button class="blue-button float-right" ng-click="showList('allergy')">LIST</button>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'infectious-diseases'}" ui-sref = 'VitalInfo.MedicalInfo.InfectiousDiseases'>
			Infectious Diseases <button class="blue-button float-right" ng-click="showList('infectious')">LIST</button>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'non-infectious-diseases'}" ui-sref = 'VitalInfo.MedicalInfo.NonInfectiousDiseases'>
			Non-Infectious Diseases/Conditions <button class="blue-button float-right" ng-click="showList('noninfectious')">LIST</button>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'tests-and-procedures'}" ui-sref = 'VitalInfo.MedicalInfo.TestsAndProcedures'>
			Tests and Procedures <button class="blue-button float-right" ng-click="showList('test')">LIST</button>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'hospitalizations'}" ui-sref = 'VitalInfo.MedicalInfo.Hospitalizations'>
			Hospitalizations
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'surgeries'}" ui-sref = 'VitalInfo.MedicalInfo.Surgeries'>
			Surgeries
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'healthcare-providers'}" ui-sref = 'VitalInfo.MedicalInfo.HealthcareProviders'>
			Healthcare Providers
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'medical-insurance'}" ui-sref = 'VitalInfo.MedicalInfo.MedicalInsurance'>
			Medical Insurance <button class="blue-button float-right" ng-click="showList('medical')">LIST</button>
		</a>
	</div>
</div>
<div class="vital-info-address hide-on-md">
    <span ui-sref = "VitalInfo" class="first">Vital Info / </span>
    <span class="other">Personal Info</span>
</div>
<div class="hide-on-md">
	<ui-view></ui-view>
</div>
<div class="vital-forms hide-on-sm">
	<ui-view></ui-view>
</div>
<!--
	Modal for small screen
-->
<script id="templates/modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-stable modal-header">
			<h1 class="title center-text">Choose a Form</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-ios-close-empty"></i></button>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<a class="item" ng-class="{'side-nav-clicked': location == 'personal-info'}" ui-sref = 'VitalInfo.PersonalInfo.PersonalInfo' ng-click="modalLinkClicked('Personal Information')">
					<h2>Personal Information</h2>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'places-lived'}" ui-sref = 'VitalInfo.PersonalInfo.PlacesLived' ng-click="modalLinkClicked('Places Lived')">
					<h2>Places Lived</h2>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'education'}" ui-sref = 'VitalInfo.PersonalInfo.Education' ng-click="modalLinkClicked('Education')">
					<h2>Education</h2>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'employement'}" ui-sref = 'VitalInfo.PersonalInfo.Employement' ng-click="modalLinkClicked('Employement')">
					<h2>Employement</h2>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'military'}" ui-sref = 'VitalInfo.PersonalInfo.Military' ng-click="modalLinkClicked('Military')">
					<h2>Military</h2>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'associations'}" ui-sref = 'VitalInfo.PersonalInfo.Associations' ng-click="modalLinkClicked('Associations/Memberships')">
					<h2>Associations/Memberships</h2>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'licences'}" ui-sref = 'VitalInfo.PersonalInfo.Licences' ng-click="modalLinkClicked('Licences/Certifications')">
					<h2>Licences/Certifications</h2>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'awards'}" ui-sref = 'VitalInfo.PersonalInfo.Awards' ng-click="modalLinkClicked('Awards/Honours')">
					<h2>Awards/Honours</h2>
				</a>
			</div>
		</ion-content>
	</ion-modal-view>
</script>
