<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Military
            <i class="icon ion-ios-arrow-down vertical-middle"></i>
            <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span style="font-size: 16px;padding-left:5px;">Add New</span></i>
		</a>
	</div>
</div>
<div class="hide-on-sm">
	<div>
		<div class="tableLinks">
            <span class="active">Military</span>
            <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span class="padding-horizontal" style="font-size: 18px;">Add New</span></i>
		</div>
	</div>
</div>
<div class="md-margin-10 responsive-sm" ng-repeat = "military in militarys">
    <div class="row">
        <div class="col col-100" >
            <label class="item item-input item-select">
                <select ng-model="military.branch" ng-blur="updateData();">
                    <option value="" selected disabled>Branch</option>
                    <option value="Army">Army</option>
                    <option value="Navy">Navy</option>
                    <option value="Marines">Marines</option>
                    <option value="Coast Guard">Coast Guard</option>
                    <option value="Air Force">Air Force</option>                        
                </select>
            </label>
        </div>
        <div class="col col-100">
            <label class="item item-input">
                <input type="number" placeholder="Rank" ng-model="military.rank" ng-blur="updateData();">
            </label>
        </div>
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Honors/Awards" ng-model="military.awards" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Street" ng-model="military.street" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="City" ng-model="military.city" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="State" ng-model="military.state" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Zip Code" ng-model="military.zipcode" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Country" ng-model="military.country" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Division" ng-model="military.division" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input  type="date" placeholder="Start Date" ng-model="military.startDate" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input  type="date" placeholder="End Date" ng-model="military.endDate" ng-blur="updateData();">
            </label>
        </div>
    </div>
		
    <div class="row">
        <div class="col col-100">
            <label class="item item-input vital-textarea">
                <textarea placeholder="Notes" ng-model="military.notes" ng-blur="updateData();">{{military.notes}}</textarea>
            </label>
        </div>
    </div>
		
		<div class="row">
      <div class="col col-100">
					<div class="delete-button" ng-click="removeItem(military);">
						<i class="ion-ios-close-outline"></i>
						Delete						
					</div>
      </div>
    </div>
</div>
<!-- <div style="width: 100%;" class="leftBox margin-bottom-25">
    <table class="table report">
        <tbody>
            <tr class="user-table">
                <th>Branch</th>                
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Country</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Title</th>                
                <th>Actions</th>                
            </tr>
        </tbody>
    </table>
</div> -->