<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Military
		</a>
	</div>
</div>
<div class="hide-on-sm blue-form">
	<div>
		<div class="tableLinks">
			<span class="active">Military</span>
		</div>
	</div>
</div>
<div class="responsive-sm blue-form" ng-repeat="military in militarys track by $index">

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Station/Location</span>
			</div>
		</div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Unit</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="military.unit" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Street Address</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="military.street" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">City</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="military.city" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">State</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="military.state" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Zip Code</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="military.zipcode" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Country</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="military.country" class="input">
      </div>
    </div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Dates at Station</span>
			</div>
		</div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">From</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="military.startDate.day" class="input">
				<input type="number" ng-model="military.startDate.month" class="input">
				<input type="number" ng-model="military.startDate.year" class="input">
      </div>
    </div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">To</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="military.endDate.day" class="input">
				<input type="number" ng-model="military.endDate.month" class="input">
				<input type="number" ng-model="military.endDate.year" class="input">
      </div>
    </div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Position</span>
			</div>
		</div>

		<div class="row" ng-repeat="(title, value) in military.addedRankInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="military.addedRankInfo[title]" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="military.addedRankInfo"></add-another>
      </div>
    </div>


		<div class="row" ng-repeat="(title, value) in military.addedPromotionInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
			<div class="col col-90">
				<input type="text" ng-model="military.addedPromotionInfo[title]" class="input">
			</div>
		</div>

		<div class="row">
			<div class="col col-10"></div>
			<div class="col col-90">
				<add-another label-text="Add Another" hash="military.addedPromotionInfo"></add-another>
			</div>
		</div>


		<div class="row" ng-repeat="(title, value) in military.addedCommendationsInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
			<div class="col col-90">
				<input type="text" ng-model="military.addedCommendationsInfo[title]" class="input">
			</div>
		</div>

		<div class="row">
			<div class="col col-10"></div>
			<div class="col col-90">
				<add-another label-text="Add Another" hash="military.addedCommendationsInfo"></add-another>
			</div>
		</div>


		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Notes</span>
			</div>
		</div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Notes:</span>
			</div>
      <div class="col col-90">
        <textarea class="textarea" rows="5"></textarea>
      </div>
    </div>

		<div class="row buttons">
		  <button class="blue-button" ng-click="save($index)">Save</button>
			<button class="blue-button" ng-click="delete($index)">Delete</button>
		</div>

</div>



<div class="row">
	<div class="col col-33">
	</div>
	<div class="col col-33 add-form-button">
		<button ng-click="addForm()" class="blue-button">Add Form</button>
	</div>
	<div class="col col-33">
	</div>
</div>
