<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Places Lived
		</a>
	</div>
</div>
<div class="hide-on-sm blue-form">
	<div>
		<div class="tableLinks">
			<span class="active">Places Lived</span>
		</div>
	</div>
</div>
<div class="responsive-sm blue-form" ng-repeat="placelived in placeslived track by $index">

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Residence</span>
			</div>
		</div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Residency Type</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="placelived.type" class="input">
      </div>
    </div>


		<div class="row">
			<div class="col col-10">
				<span class="input-name">Street Address</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="placelived.street" class="input">
      </div>
    </div>

		<div class="row" ng-repeat="(title, value) in placelived.addedResidenceInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="placelived.addedResidenceInfo[title]" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="placelived.addedResidenceInfo"></add-another>
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">City</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="placelived.city" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Country</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="placelived.country" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">State</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="placelived.state" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Zip Code</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="placelived.zipcode" class="input">
      </div>
    </div>


		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Dates of Residency</span>
			</div>
		</div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">From</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="placelived.startDate.day" class="input">
				<input type="number" ng-model="placelived.startDate.month" class="input">
				<input type="number" ng-model="placelived.startDate.year" class="input">
      </div>
    </div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">To</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="placelived.endDate.day" class="input">
				<input type="number" ng-model="placelived.endDate.month" class="input">
				<input type="number" ng-model="placelived.endDate.year" class="input">
      </div>
    </div>


		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Notes</span>
			</div>
		</div>

    <div class="row">
			<div class="col col-10">
			</div>
      <div class="col col-90">
        <textarea class="textarea" ng-model="placelived.notes" rows="5"></textarea>
      </div>
    </div>

		<div class="row buttons">
		  <button class="blue-button" ng-click="save($index)">Save</button>
			<button class="blue-button" ng-click="delete($index)">Delete</button>
		</div>

</div>



<div class="row">
	<div class="col col-33">
	</div>
	<div class="col col-33 add-form-button">
		<button ng-click="addForm($index)" class="blue-button">Add Form</button>
	</div>
	<div class="col col-33">
	</div>
</div>
