<div class="side-nav hide-on-sm">
	<div class="list">
		<div class="item item-divider">
			Title
		</div>
		<a class="item" ng-class="{'side-nav-clicked': location == 'personal-info'}" ui-sref = 'VitalInfo.PersonalInfo.PersonalInfo'>
			Personal Information
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'places-lived'}" ui-sref = 'VitalInfo.PersonalInfo.PlacesLived'>
			Places Lived
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'education'}" ui-sref = 'VitalInfo.PersonalInfo.Education'>
			Education
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'employement'}" ui-sref = 'VitalInfo.PersonalInfo.Employement'>
			Employement
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'military'}" ui-sref = 'VitalInfo.PersonalInfo.Military'>
			Military
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'associations'}" ui-sref = 'VitalInfo.PersonalInfo.Associations'>
			Associations/Memberships
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'licences'}" ui-sref = 'VitalInfo.PersonalInfo.Awards'>
			Licences/Certifications
			<span class="item-note">12.12.17</span>
		</a>
		<a class="item" ng-class="{'side-nav-clicked': location == 'awards'}" ui-sref = 'VitalInfo.PersonalInfo.Awards'>
			Awards/Honours
			<span class="item-note">12.12.17</span>
		</a>
	</div>
</div>
<div class="vital-info-address hide-on-md">
    <span class="first">Vital Info / </span>
    <span class="other">Personal Info</span>
</div>
<div class="hide-on-md">
	<ui-view></ui-view>
</div>
<div class="vital-forms hide-on-sm">
	<ui-view></ui-view>
</div>
<!--
	Modal for small screen
-->
<script id="templates/modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-stable modal-header">
			<h1 class="title center-text">Choose a Form</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-ios-close-empty"></i></button>
		</ion-header-bar>
		<ion-content>
			<div class="list">
				<a class="item" ng-class="{'side-nav-clicked': location == 'personal-info'}" ui-sref = 'VitalInfo.PersonalInfo.PersonalInfo' ng-click="modalLinkClicked('Personal Information')">
					<h2>Personal Information</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'places-lived'}" ui-sref = 'VitalInfo.PersonalInfo.PlacesLived' ng-click="modalLinkClicked('Places Lived')">
					<h2>Places Lived</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'education'}" ui-sref = 'VitalInfo.PersonalInfo.Education' ng-click="modalLinkClicked('Education')">
					<h2>Education</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'employement'}" ui-sref = 'VitalInfo.PersonalInfo.Employement' ng-click="modalLinkClicked('Employement')">
					<h2>Employement</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'military'}" ui-sref = 'VitalInfo.PersonalInfo.Military' ng-click="modalLinkClicked('Military')">
					<h2>Military</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'associations'}" ui-sref = 'VitalInfo.PersonalInfo.Associations' ng-click="modalLinkClicked('Associations/Memberships')">
					<h2>Associations/Memberships</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'licences'}" ui-sref = 'VitalInfo.PersonalInfo.Awards' ng-click="modalLinkClicked('Licences/Certifications')">
					<h2>Licences/Certifications</h2>
					<p>12.12.17</p>
				</a>
				<a class="item" ng-class="{'side-nav-clicked': location == 'awards'}" ui-sref = 'VitalInfo.PersonalInfo.Awards' ng-click="modalLinkClicked('Awards/Honours')">
					<h2>Awards/Honours</h2>
					<p>12.12.17</p>
				</a>
			</div>
		</ion-content>
	</ion-modal-view>
</script>