<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Awards/Honors
		</a>
	</div>
</div>
<div class="hide-on-sm blue-form">
	<div>
		<div class="tableLinks">
			<span class="active">Awards/Honors</span>
		</div>
	</div>
</div>
<div class="responsive-sm blue-form" ng-repeat="award in awards track by $index" ng-if="$parent.checkedItems['award'][award.type] || award.type == unedfined">

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Type</span>
			</div>
			<div class="col col-90">
				<select ng-model="award.type" class="input">
					<option ng-repeat="e in award_list" value="{{e}}">{{e}}</option>
				</select>
			</div>
		</div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Awards/Honors</span>
			</div>
		</div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Bestowing Organization</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="award.organization" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Description of Award/Honor</span>
			</div>
      <div class="col col-90">
				<textarea class="textarea" ng-model="award.description" rows="5"></textarea>
      </div>
    </div>

    <div class="row date">
			<div class="col col-10">
				<span class="input-name">Date of Award/Honor</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="award.date.day" class="input">
				<input type="number" ng-model="award.date.month" class="input">
				<input type="number" ng-model="award.date.year" class="input">
      </div>
    </div>


    <div class="row">
			<div class="col col-10">
				<span class="input-name">Notes:</span>
			</div>
      <div class="col col-90">
        <textarea class="textarea" ng-model="award.notes" rows="5"></textarea>
      </div>
    </div>


		<div class="row buttons">
		  <button class="blue-button" ng-click="save($index)">Save</button>
			<button class="blue-button" ng-click="delete($index)">Delete</button>
		</div>

</div>



<div class="row">
	<div class="col col-33">
	</div>
	<div class="col col-33 add-form-button">
		<button ng-click="addForm()" class="blue-button">Add Form</button>
	</div>
	<div class="col col-33">
	</div>
</div>
