<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Human Experience</title>

  <link rel="manifest" href="manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800|Merriweather:300,400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link rel="stylesheet" href="lib/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="lib/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.min.css">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/froala_style.min.css' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="lib/ng-tags-input/ng-tags-input.min.css">
  <!--<link href="css/ionic.app.css" rel="stylesheet">-->
  <link href="css/style.css" rel="stylesheet">
  
  <script id="fr-fek">try{(function (k){localStorage.FEK=k;t=document.getElementById('fr-fek');t.parentNode.removeChild(t);})('lqnbe1C-11gntH-7jjftE-11G-10dD1uxu==')}catch(e){}</script>
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <script src="lib/slick-carousel/slick/slick.js"></script>
  <script src="lib/angular-slick/dist/slick.js"></script>
  <script src="lib/ng-tags-input/ng-tags-input.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/froala_editor.min.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1//js/froala_editor.pkgd.min.js"></script>
  <script src="lib/angular-froala/angular-froala.js"></script>
  <script src="lib/angular-froala/froala-sanitize.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <!-- <script src="cordova.js"></script> -->

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/app.router.js"></script>
  
  <!-- services for angular js -->
  <script src="js/services/personal-info.service.js"></script>
  
  <script src="js/vital-info/vital-info.controller.js"></script>
  <script src="js/vital-info/personal-info/personal-info.controller.js"></script>
  <script src="js/vital-info/personal-info/personal-info/personal-info.controller.js"></script>
  <script src="js/vital-info/personal-info/places-lived/places-lived.controller.js"></script>
  <script src="js/vital-info/personal-info/education/education.controller.js"></script>
  <script src="js/vital-info/personal-info/employement/employement.controller.js"></script>
  <script src="js/vital-info/personal-info/military/military.controller.js"></script>
  <script src="js/vital-info/personal-info/associations/associations.controller.js"></script>
  <script src="js/vital-info/personal-info/licences/licences.controller.js"></script>
  <script src="js/vital-info/personal-info/awards/awards.controller.js"></script>
  <script src="js/vital-info/medical-info/medical-info.controller.js"></script>
  <script src="js/vital-info/contacts/contacts.controller.js"></script>
  <script src="js/vital-info/add-contact/add-contact.controller.js"></script>
  <script src="js/vital-info/digital-lib/digital-lib.controller.js"></script>
  

</head>
<body ng-app="starter">

<ion-nav-view></ion-nav-view>

</body>
</html>
