<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->		
		<a class="item center-text">
			Personal Information
      <i class="icon ion-ios-arrow-down vertical-middle"></i>
      <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span style="font-size: 16px;padding-left:5px;">Add New</span></i>
		</a>
	</div>
</div>
<div class="hide-on-sm">
	<div>
		<div class="tableLinks">
      <span class="active">Personal Information</span>
      <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span class="padding-horizontal" style="font-size: 18px;">Add New</span></i>
		</div>
	</div>
</div>
<div class="md-margin-10 responsive-sm" ng-repeat = "personalinfo in personalinfos">
    <div class="row">
      <div class="col col-100">
          <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="personalinfo.firstName" ng-blur="updateData();">
          </label>
      </div>      
    </div>
		
		<div class="row">
      <div class="col col-100">
          <label class="item item-input">
              <input type="text" placeholder="Middle Name" ng-model="personalinfo.middleName" ng-blur="updateData();">
          </label>
      </div>
    </div>
		
		<div class="row">
      <div class="col col-100">
          <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="personalinfo.lastName" ng-blur="updateData();">
          </label>
      </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
								<span>Birth Date</span>
                <input type="date" placeholder="Birth Date" ng-model="personalinfo.birthDate" ng-blur="updateData();">
            </label>
        </div>
    </div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Birth City" ng-model="personalinfo.birthCity" ng-blur="updateData();">
            </label>
        </div>
    </div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input placeholder="Birth State" type="text" ng-model="personalinfo.birthState" ng-blur="updateData();"/>

            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
								<span>Death Date</span>
                <input type="date" placeholder="Death Date" ng-model="personalinfo.deathDate" ng-blur="updateData();">
            </label>
        </div>        
    </div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Death City" ng-model="personalinfo.deathCity" ng-blur="updateData();">
            </label>
        </div>
    </div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Death State" ng-model="personalinfo.deathState" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100" >
            <label class="item item-input item-select">
                <select name="gender" ng-model="personalinfo.gender" ng-blur="updateData();">
                    <option value="" selected disabled>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </label>
        </div>
    </div>
		
		<div class="row">
        <div class="col col-100" >
            <label class="item item-input item-select">
                <select name="ethnicity" ng-model="personalinfo.ethnicity" ng-blur="updateData();">
                    <option value="" selected disabled>Ethnicity</option>
                    <option value="Caucasion">Caucasion</option>
                    <option value="African American">African American</option>
                    <option value="Hispanic">Hispanic</option>
                    <option value="Asian">Asian</option>
                    <option value="Indian">Indian</option>
                    <option value="American Indian">American Indian</option>
                    <option value="Other">Other</option>
                </select>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input vital-textarea">
                <textarea placeholder="Notes" ng-model="personalinfo.notes" ng-blur="updateData();">{{personalinfo.notes}}</textarea>
            </label>
        </div>
    </div>
		
		<div class="row">
      <div class="col col-100">
					<div class="delete-button" ng-click="removeItem(personalinfo);">
						<i class="ion-ios-close-outline"></i>
						Delete						
					</div>
      </div>
    </div>
</div>