<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Primary Information
		</a>
	</div>
</div>
<div class="responsive-sm blue-form">


		<div>
			<div class="tableLinks">
	      <span class="active">Primary Information</span>
			</div>
		</div>

    <div class="row date">
			<div class="col col-10">
				<span class="input-name">Date of Birth</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="personalinfo.dateOfBirth.day" class="input">
				<input type="number" ng-model="personalinfo.dateOfBirth.month" class="input">
				<input type="number" ng-model="personalinfo.dateOfBirth.year" class="input">
      </div>
    </div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">Date of Death</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="personalinfo.dateOfDeath.day" class="input">
				<input type="number" ng-model="personalinfo.dateOfDeath.month" class="input">
				<input type="number" ng-model="personalinfo.dateOfDeath.year" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Place of Birth</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.birthPlace" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Place of Death</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.deathPlace" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Sex</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.gender" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Race</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.race" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Ethnicity</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.ethnicity" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Prior Names</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.priorNames" class="input">
      </div>
    </div>

		<div class="row" ng-repeat="(title, value) in personalinfo.addedBasicInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.addedBasicInfo[title]" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="personalinfo.addedBasicInfo"></add-another>
      </div>
    </div>


		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Critical Information (add items as you wish)</span>
			</div>
		</div>

		<div class="row" ng-repeat="(title, value) in personalinfo.addedCriticalInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="personalinfo.addedCriticalInfo[title]" class="input">
      </div>
    </div>

    <div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="personalinfo.addedCriticalInfo"></add-another>
      </div>
    </div>


		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Notes</span>
			</div>
		</div>

    <div class="row">
			<div class="col col-10">
			</div>
      <div class="col col-90">
        <textarea class="textarea" ng-model="personalinfo.notes" rows="5"></textarea>
      </div>
    </div>



</div>

<div class="row buttons">
  <button class="blue-button" ng-click="save()">Save</button>
	<button class="blue-button">Cancel</button>
</div>
