<div class="row rowPadding responsive-lg">
  <div class="col firstRow">
    <div class="quoteleftBox">
      <div class="tableLinks">
        <div class="row">
          <div class="col-80">
            <span class="active">Quotes</span>
          </div>
          <div class="col-20 item-add-wrapper">
            <a ng-click="addQuote($event)">
              <i class="ion-ios-plus-outline"></i>
              Add
            </a>
          </div>
        </div>        
      </div>
      <div class="quotes-list">
        <div class="item item-input" ng-repeat="quote in quotes">
          <input type="text" ng-model="quote.name" ng-blur="updateQuote(quote)" value="{{quote.name}}">
          <i class="ion-ios-close-outline" ng-click="removeQuote(quote);"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col">
    <div class="rightContent">
      <div class="list">
        
        <a class="item item-icon-left listFirst" ng-click="addQuote($event)">
          <i class="ion-ios-plus-outline"></i>
          Add New Quote
        </a>
        
        <label class="item item-input">
          <input type="text" placeholder="New Quote" name="name" ng-model="quote.name">
        </label>
      </div>
    </div>
  </div> -->
</div>