
<div class="row rowPadding responsive-lg">
  <div id="fpsContainer">
    <div class="fps">fps: <span id="fps"></div>
    <div id="status"></div>
  </div>
  <div id="uiContainer">
    <div id="ui"></div>
  </div>
  <div id="viewContainer">
    <canvas id="canvas" width="1024" height="1024" style="width: 100%; height: 100%;"></canvas>
    <div class="row">
      <div class="user-detail-wrapper" style="width:100%; text-align: center;">
        <button type="button" class="delete-btn" ng-click="saveData()">Save</button>
      </div>
    </div>
  </div>
    <!--- black shader -->
  <script id="blackVertexShader" type="text/something-not-javascript">
    uniform mat4 worldViewProjection;
    attribute vec4 position;
    void main() {
      gl_Position = worldViewProjection * position;
    }
  </script>
  <script id="blackFragmentShader" type="text/something-not-javascript">
    #ifdef GL_ES
    precision mediump float;
    #endif
    void main() {
      gl_FragColor = vec4(0,0,0,0);
    }
  </script>
    <!--- imageSphere -->
  <script id="imageSphereVertexShader" type="text/something-not-javascript">
    uniform mat4 viewProjection;
    uniform mat4 world;
    uniform float bendRadius;
    uniform float bendAmount;
    attribute vec4 position;
    attribute vec2 texCoord;
    varying vec2 v_texCoord;
    void main() {
      v_texCoord = texCoord;
      vec4 wp = world * position;
      float longitude = 3.14159 * 0.5 - wp.x;
      float latitude = 3.14159 * 0.5 - wp.y;
      float sinTheta = sin(longitude);
      float cosTheta = cos(longitude);
      float sinPhi = sin(latitude);
      float cosPhi = cos(latitude);
      float ux = cosTheta * sinPhi;
      float uy = cosPhi;
      float uz = sinTheta * sinPhi;
      vec4 wp1 = vec4(
        ux * bendRadius,
        uy * bendRadius,
        uz * bendRadius,
        1);
      vec4 wp2 = vec4(wp.x, wp.y, wp.z + bendRadius, 1.0);
      gl_Position = viewProjection * mix(wp2, wp1, bendAmount);
    }
  </script>
  <script id="imageSphereFragmentShader" type="text/something-not-javascript">
    #ifdef GL_ES
    precision mediump float;
    #endif
    varying vec2 v_texCoord;
    uniform sampler2D diffuseSampler;
    uniform vec4 colorMult;
    void main() {
      vec4 diffuse = texture2D(diffuseSampler, vec2(v_texCoord.x, v_texCoord.y));
      gl_FragColor = diffuse * colorMult;
    }
  </script>
</div>
