<h4 style="text-align:center;">Sponsor Stats</h4>
<div class="row sponsor-firstRow">
  <div class="col col-40">
    <!-- <div class="list tag-search-wrapper">
      <label class="item item-input">        
        <input type="text" placeholder="Search" ng-model="search">
        <i class="fa fa-search placeholder-icon"></i>
      </label>
    </div> -->    
    <div class="row">
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">Last Month</div>
      <div class="col col-30">Avg Monthly last year</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b># of Sponsors:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Number of invitees:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitees per Member:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitations Offered:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitations Accepted:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Percentage Accepted:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitation Membership Cancelled:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
  </div>
</div>
<h4 style="text-align:center;">Sponsor Program Packaging</h4>
<div class="sponsor-firstRow">
  <h4>Sponsor Variables</h4>  
  <div class="sponsorVariableBox row">
    <div class="col col-20"><b>Sponsor discount on Invitee Billing:</b></div>
    <div class="col col-20"><input type="number"></div>
  </div>
  <div class="sponsorVariableBox row">
    <div class="col col-20"><b>Term of Sponsor Discount:</b></div>
    <div class="col col-20"><input type="number"></div>
  </div>
  <h4>Invitee Variables</h4>
  <div class="sponsorVariableBox row">
    <div class="col col-20"><b>Invitee discount:</b></div>
    <div class="col col-20"><input type="number"></div>
  </div>
  <div class="sponsorVariableBox row">
    <div class="col col-20"><b>Term of Invitee discount:</b></div>
    <div class="col col-20"><input type="number"></div>
  </div>
  <!-- <div class="col col-40">
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
  </div> -->
</div>  
