<div class="row rowPadding responsive-lg">
  <div class="col firstRow" ng-show="templateView=='list'">
    <div class="list tag-search-wrapper">
      <label class="item item-input">        
        <input type="text" placeholder="Search" ng-model="search">
        <i class="fa fa-search placeholder-icon"></i>
      </label>
    </div>
    <div class="leftBox">
      <div class="csv-download" ng-click="clickTemplateView('create')">
        <a>
          <i class="ion-ios-plus-outline"></i>
          Create Window
        </a>
      </div>
      
      <table class="table report">
        <thead>
          <tr>            
            <td>Template Name</td>
            <td>Template Price</td>
            <td>Topic</td>            
            <td>Template Owner</td>
            <td>Status</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr class="user-table" ng-repeat="template in templates | filter: search">            
            <td><a ng-click="clickTemplate(template);" style="cursor:pointer;">{{template.name}}</a></td>
            <td>${{template.price}}</td>
            <td>
              <ion-select class="template-tag-selection">
                <ion-option ng-repeat="tag in template.tags"> {{tag.name}} </ion-option>
              </ion-select>
            </td>
            <td>{{template.userId.firstName + ' ' + template.userId.lastName}}</td>
            <td>{{template.status}}</td>
            <td style="cursor:pointer; font-size:20px; color: black;">
              <i ng-show="template.status=='submit'" class="fa fa-thumbs-o-up" ng-click="clickApproveTemplate(template)"></i>&nbsp;
              <i class="ion-ios-close-outline" ng-click="removeTemplate(template);"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col firstRow" ng-show="templateView=='nugget'">
    <form name="nuggetForm">          
      <!-- <textarea ng-model="nugget.content" id="add-nugget-textarea" placeholder="Start your nugget!" required></textarea> -->
      <!-- <div froala="froalaOptions" ng-model="nugget.content"></div> -->
      <div id="editor"></div>
    </form>
    <div class="bar bar-footer footerBottom">
      <div class="container">
        <div class="leftArea" ng-click="sidebar.showTags = true">
          <a class="sideIcon" href="javascript:"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
          <a class="addInput" href="javascript:" ng-hide="sidebar.showTags || nugget.tags.length">Click to add tags</a>
          <ul ng-show="!sidebar.showTags && nugget.tags.length">
            <li ng-repeat="tag in tags">
              <a class="auto-complete-link" href="javascript:">{{tag.text}}</a>
            </li>
          </ul>
          <div class="list" ng-show="sidebar.showTags">
            <tags-input ng-model="nugget.tags">
              <!-- <auto-complete source="loadTags($query)"></auto-complete> -->
            </tags-input>
          </div>
        </div>
        <div class="rightArea">
          <button type="button" class="saveBtn" ng-click="saveAndBack();">Save & Back</button>
        </div>
      </div>      
    </div>
  </div>
  <div class="leftBox" ng-show="templateView=='create'">
    <div class="row">
      <div class="col col-75 firstRow">
        <!-- <div class="row">    
          <div class="col col-40">
            <label class="item item-input">
              <input type="text" placeholder="Template Name" ng-model="template.name">
            </label>
          </div>
          <div class="col col-40">
            <label class="item item-input template-tag" ng-click="clickChangeTag()">
              <ion-select class="template-tag-selection">
                <ion-option ng-show="template.tags.length == 0">Tags</ion-option>
                <ion-option ng-repeat="tag in template.tags"> {{tag.name}} </ion-option>
              </ion-select>
            </label>
          </div>
          <div class="col col-20">
            <label class="item item-input">
              <input type="number" placeholder="Price" ng-model="template.price" min="0">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <label class="item item-input">
              <input type="text" placeholder="Descripotion" ng-model="template.description">
            </label>
          </div>
        </div><br> -->
        <div class="row listItemsArea">
          <table class="table adminTemplateList">
            <tbody>            
            <tr ng-repeat="folder in template.folders">
              <!-- <td style="width:50px;">
                <label class="checkbox">
                  <input type="checkbox" ng-click="chooseFolder(folder);" ng-checked="selectedFolder==folder">
                </label>
              </td> -->
              <td ng-class="'padding'+folder.level">
                <label class="folderInput item item-input" ng-click="chooseFolder(folder);">
                  <i class="icon placeholder-icon" ng-class="folder.type=='nugget'?'ion-4':'ion-'+folder.level"></i>
                  <input type="text" ng-class="{'selected': folder==selectedFolder}" placeholder="{{levelPlaceHolder[folder.level]}}" ng-model="folder.name">
                </label>
              </td>
              <td style="width:50px;">
                <i ng-hide="folder.parentId=='root'" class="ion-ios-close-outline" ng-click="removeFolder(folder);"></i>
              </td>
              <!-- <td style="width:50px;">
                <i ng-hide="folder.parentId=='root' || template.folders.indexOf(folder) <= 1" class="ion-arrow-up-c" ng-click="moveUpFolder(folder);"></i>
              </td>
              <td style="width:50px;">
                <i ng-hide="folder.parentId=='root' || template.folders.indexOf(folder) >= template.folders.length - 1" class="ion-arrow-down-c" ng-click="moveDownFolder(folder);"></i>
              </td> -->
              <td style="width:30px;">
                <span ng-hide="folder.level==4 || folder.type=='nugget'" ng-click="openAddPrompt(folder);">Pr</span>
                <span ng-show="folder.type=='nugget'" ng-click="openAddNugget(folder);">E</span>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- <div class="list">
            <ion-checkbox ng-repeat="folder in template.folders" ng-click="chooseFolder(folder);" ng-checked="selectedFolder==folder">
              <span>{{folder.strPath.replace("Home","")}}/{{folder.name}}</span>              
            </ion-checkbox>
            <i class="ion-ios-close-outline" ng-click="removeFolder(folder._id);"></i>
          </div> -->
        </div>
        <div class="row">
          <div class="template-button-wrapper">
            <button type="button" class="cancel-btn" ng-click="clickTemplateView('list')">Cancel</button>
            <button type="button" class="save-btn" ng-click="saveTemplate()">Save</button>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="rightContent" style="margin: 0px 50px;">
          <div class="list">          
            <!-- <a class="item item-icon-left listFirst" ng-click="createFolder(0)">
              <i class="ion-ios-plus-outline"></i>
              Add Window
            </a> -->
            
            <a class="item item-icon-left listFirst" ng-click="createFolder(1)" ng-show="selectedFolder.level == 0 || selectedFolder.level == 1">
              <i class="ion-ios-plus-outline"></i>
              Purpose
            </a>
            
            <a class="item item-icon-left listFirst" ng-click="createFolder(2)" ng-show="(selectedFolder.level == 2 || selectedFolder.level == 1) && selectedFolder.type != 'nugget'">
              <i class="ion-ios-plus-outline"></i>
              Chapter
            </a>
            
            <a class="item item-icon-left listFirst" ng-click="createFolder(3)" ng-show="(selectedFolder.level == 3 || selectedFolder.level == 2) && selectedFolder.type != 'nugget'">
              <i class="ion-ios-plus-outline"></i>
              Section
            </a>
            
            <a class="item item-icon-left listFirst" ng-click="createFolder(4)" ng-hide="selectedFolder.level == 0">
              <i class="ion-ios-plus-outline"></i>
              Nugget
            </a>
            
            <!-- <a class="item item-icon-left listFirst" ng-click="openAddPrompt($event)">
              <i class="ion-ios-plus-outline"></i>
              Add Prompt
            </a> -->
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="leftBox" ng-show="templateView=='prompt'">
    <div class="csv-download" ng-click="templateView='create'">
      <a>
        <i class="ion-ios-arrow-back"></i>
        Back
      </a>
    </div>
    
    <div class="row">
      <div class="col col-75 firstRow">
        <div class="quoteleftBox">
          <div class="list tag-search-wrapper">
            <label class="item item-input">
              <input type="text" placeholder="Search" ng-model="promptSearch">
              <i class="fa fa-search placeholder-icon"></i>
            </label>
          </div>
          <div class="tableLinks">
            <span class="active">Prompts</span>
          </div>
          <div class="quotes-list">
            <div class="item" ng-repeat="prompt in prompts | filter: promptSearch">
              {{prompt.text}}
              <i class="ion-ios-close-outline" ng-click="removePrompt(prompt._id);"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="rightContent">
          <div class="list">

            <a class="item item-icon-left listFirst" ng-click="addprompt($event)">
              <i class="ion-ios-plus-outline"></i>
              Add New Prompt
            </a>

            <label class="item item-input">
              <input type="text" placeholder="New Prompt" name="name" ng-model="prompt.name">
            </label>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<script>
  $(function(){
    $('#editor').froalaEditor({
      placeholderText: 'Start you nugget!',
      toolbarButtonsXS: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
      toolbarButtonsSM: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
      toolbarButtonsMD: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
      toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
      videoDefaultAlign: 'left',
      imageDefaultAlign: 'left',
      heightMin: 300
    })
  });
</script>