<div class="row rowPadding responsive-lg">
  <div class="col firstRow">
    <!-- <div class="list tag-search-wrapper">
      <label class="item item-input">        
        <input type="text" placeholder="Search" ng-model="search">
        <i class="fa fa-search placeholder-icon"></i>
      </label>
    </div> -->
    <h4><center>Sponsor Stats</center></h4>
    <div class="row">
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">Last Month</div>
      <div class="col col-30">Avg Monthly last year</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b># of Sponsors:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Number of invitees:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitees per Member:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitations Offered:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitations Accepted:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Percentage Accepted:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Invitation Membership Cancelled:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <h4><center>Sponsor Program Packaging</center></h4>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
    <div class="sponsorBox row">
      <div class="col col-30"><b>Package:</b></div>
      <div class="col col-30">&nbsp;</div>
      <div class="col col-30">&nbsp;</div>
    </div>
  </div>
</div>