<span class="closeIcon" ng-click="closeChangePasswordPopup()"><i class="ion-android-close"></i></span>
<ion-scroll zooming="true" direction="y" style="height: 300px">
  <form name="changePasswordForm" ng-submit="savePassword(changePasswordForm)">
    <div class="list list-inset">
      <!-- <span class="input-label">New Password</span> -->
      <label class="item item-input">
        <input type="password" name="password" ng-minlength="6" placeholder="Password" ng-model="changePassword.newPassword" ng-required>
      </label>
    </div>
    <p class="passwordCharacters" ng-show="changePasswordForm.password.$error.required || changePasswordForm.password.$error.minlength">Your password must be at least 6 characters long.</p>
    <div class="list list-inset">
      <!-- <span class="input-label">Confirm new Password</span> -->
      <label class="item item-input">
        <input type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" ng-required>
      </label>
    </div>
    <p class="passwordCharacters" ng-show="confirmPassword !== changePassword.newPassword && !changePasswordForm.confirmPassword.$error.required">Your password do not match.</p>
    <div class="row">
      <div class="col col-12">
        <button class="button button-block button-positive savePassword">
          Save
        </button>
      </div>
    </div>
  </form>
</ion-scroll>