<ion-pane>
  <ion-content>
    <div class="login">
      <div class="logo-Parent">
        <a ui-sref="home"><img src="img/logo.png" class="logo" alt=""/></a>
      </div>
      <h4>Forgot your Password?</h4>
      <span>Don't worry. It happens. Enter your email and we'll send you a link to reset it.</span>
      <form name="forgotForm" ng-submit="forgotPassword(forgotForm)" novalidate>
        <div class="list">
          <span class="input-label">Email address</span>
          <label class="item item-input">
            <input type="email" name="email" ng-model="email.email" placeholder="example@the.com" required>
          </label>
        </div>
        <div class="inputError" ng-show="forgotForm.$submitted && forgotForm.email.$error.required"><i class="ion-alert-circled"></i> Email address is required</div>
        <div class="inputError" ng-show="forgotForm.$submitted && forgotForm.email.$error.email"><i class="ion-alert-circled"></i> Enter valid email address</div>
        <div class="inputSuccess" ng-show="forgotForm.$submitted && forgotForm.$valid"><i class="ion-android-checkbox"></i> Successfully login</div>

        <div class="row">
          <div class="col col-50 col-offset-25">
            <button class="button button-block button-positive">
              Send Link
            </button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-pane>
