<ion-pane>
  <ion-content on-scroll="getScrollPosition()" delegate-handle="adminScroll">
    <div class="bar bar-header bar-stable headerNav" style="position: relative;">
      <div class="nav">
        <!--<h1 class="title navHeading">the logo</h1>-->
        <a ui-sref="home"><img src="img/logo.png" class="logo" alt=""/></a>
        <div class="linksNav">
          <a href="javascript:" class="full-information active">Life-In-Full</a>
          <a ui-sref="VitalInfo.PersonalInfo.PersonalInfo" class="full-information">Vital Information</a>
          <a ui-sref="WindowLibrary" class="full-information">Window Library</a>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="fa fa-search placeholder-icon"></i>
              <input type="text" placeholder="Search" ng-model="filter.search" ng-keypress="($event.which===13) && searchNuggets()">
            </label>
          </div>
          <!-- <a href="javascript:" class="my-account-link">Upgrade Now</a> -->
          <a href="https://the-human-experience.helpshift.com/a/the/" target="_blank" class="my-account-link myaccount">Help</a>
          <a ui-sref="account.profile" class="my-account-link myaccount">My Account</a>
          <a ng-click="logout()" class="my-account-link logout">Logout</a>
          <!-- <button class="button button-positive" ng-click="logout()">Logout</button> -->
          <!--<h6>Share Your Story</h6>-->
          <!--<h5><a href="javascript:">Sign In or Sign Up</a></h5>-->
        </div>
        <button type="button" ng-show="!toggleMenu" class="menuBtn" ng-click="toggleMenu = true">Menu</button>
        <a href="javascript:" class="closeMenuBtn" ng-show="toggleMenu" ng-click="toggleMenu = false">Close Menu</a>
      </div>
      <!--///////////////////////// Mobile Version Nav ///////////////////////////////////-->
      <div class="linksNavMobile" ng-show="toggleMenu">
        <a href="javascript:" class="full-information active">
          Life-In-Full
          <a href="javascript:" class="anchorChild" ng-class="{'active': toggleView == 'sphere'}" ng-click="toggleView = 'sphere'">View Life-in-Full as Sphere</a>
          <a href="javascript:" class="anchorChild lastEle" ng-class="{'active': toggleView == 'list'}" ng-click="toggleView = 'list'">View Life-in-Full as List</a>
        </a>
        <a ui-sref="VitalInfo" class="full-information vital">Vital Information</a>
        <a ui-sref="Window" class="full-information vital">Window Library</a>
        <a href="https://the-human-experience.helpshift.com/a/the/" target="_blank" class="full-information vital">Help</a>
        <a ui-sref="account.profile" class="full-information vital">My Account</a>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        <!-- <a href="javascript:" class="my-account-link">Upgrade Now</a> -->
        <a ng-click="logout()" class="full-information vital logout">Logout</a>
        <!-- <button class="button button-positive" ng-click="logout()">Logout</button> -->

        <!--<h6>Share Your Story</h6>-->
        <!--<h5><a href="javascript:">Sign In or Sign Up</a></h5>-->
      </div>
      <!--///////////////////////// Mobile Version Nav ///////////////////////////////////-->
      <div class="home1-tabs">
        <ul>
          <li><a href="javascript:" ng-click="openFilterTemplatePopover($event)" style="color: #387ef5">Show All <i class="ion-chevron-down"></i></a></li>
          <li><a href="javascript:" class="toggleSphereView" ng-class="{'active': toggleView == 'sphere'}" ng-click="clickHomeView('sphere')">View as Sphere</a></li>
          <li><a href="javascript:" class="toggleListView" ng-class="{'active': toggleView == 'list'}" ng-click="clickHomeView('list')">View as List</a></li>
          <!-- <li class="upgradeBtn"><button type="button">Upgrade Now</button></li> -->
        </ul>
      </div>
    </div>
    <ui-view>
    </ui-view>
    <div class="row rowPadding responsive-lg">
      <div class="col col-75 firstRow">
        <div ng-show="toggleView == 'sphere'">
          <div ng-include="'../../templates/sphereView.html'"></div>
        </div>
        <div ng-show="toggleView == 'list'">
          <div ng-include="'../../templates/listView.html'"></div>
        </div>
        <div ng-show="toggleView == 'template'">
          <div ng-include="'../../templates/template.html'"></div>
        </div>
      </div>

      <div class="col" style="position:relative;">
        <div class="rightContent">          
          <div class="list">
            <a class="item item-icon-right header" ng-click="showButtons=!showButtons" ng-init="showButtons=false">
              <!-- <i ng-class="showButtons?'ion-minus':'ion-plus'"></i> -->
              <span class="firstName">{{user.lastLogin?"Create":"Welcome back, " + user.firstName + "."}}</span>
            </a>
          </div>
          <div class="list">
             <!-- ng-show="showButtons" -->

            <a class="item item-icon-left listFirst" ng-click="clickNugget($event)">
              <i class="ion-ios-plus-outline"></i>
              Start a new nugget
            </a>

            <a class="item item-icon-left listFirst" ng-click="openCreateFolder($event)">
              <i class="ion-ios-plus-outline"></i>
              Create a Window
            </a>

            <!-- <a class="item item-icon-left listFirst toggleTemplateView" ng-click="clickHomeView('template')">
              <i class="ion-ios-plus-outline"></i>
              Create a Template
            </a> -->

            <!-- <a class="item item-icon-left listFirst" ng-click="">
              <i class="ion-ios-plus-outline"></i>
              Upload a nugget
            </a> -->

          </div>

          <div class="list">
            <a class="item item-icon-right header" ng-click="showRecent=!showRecent" ng-init="showRecent=false">
              <i ng-class="showRecent?'ion-minus':'ion-plus'"></i>
              <span class="firstName">Or continue with a recent nugget:</span>
            </a>
          </div>

          <div class="list" ng-show="showRecent">

            <a class="item item-icon-left" ng-repeat="nugget in userNuggets | limitTo:5" ng-click="clickNugget($event, nugget)" style="cursor:pointer;">
              <i class="fa fa-file-text-o" style="font-size: 20px"></i>
              [{{nugget.name}}]
            </a>

          </div>
          
          <div class="window-outline">
            <span class="closeIcon" ng-click="closeWindowOutline()"><i class="ion-android-close"></i></span>
            <table class="table adminTemplateList" style="margin-top:20px;">
              <tbody>
              <tr ng-repeat="folder in selectedFolderOutline">
                <!-- <td style="width:50px;">
                  <label class="checkbox">
                    <input type="checkbox" ng-click="chooseFolder(folder);" ng-checked="selectedFolder==folder">
                  </label>
                </td> -->
                <td ng-class="'padding'+folder.level">
                  <label class="folderInput item item-input">
                    <i class="icon placeholder-icon" ng-class="folder.type=='nugget'?'ion-4':'ion-'+folder.level"></i>
                    <input type="text" placeholder="{{levelPlaceHolder[folder.level]}}" ng-model="folder.name" ng-blur="updateFolder(folder)">
                  </label>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- <div class="list">
            <a class="item item-icon-right header">
              <i ng-class="showMyTemplate?'ion-minus':'ion-plus'" ng-click="showMyTemplate=!showMyTemplate" ng-init="showMyTemplate=false"></i>
              <span class="firstName">My Template</span>
            </a>
          </div>

          <div class="list" ng-show="showMyTemplate">
            <a class="item item-icon-right" ng-repeat="tmp in myTemplates" style="cursor:pointer;">
              <span ng-click="clickTemplate(tmp)">{{tmp.name}}</span>
              <i ng-show="tmp.status=='pending'" title="Template is pending" class="fa fa-pencil-square-o" style="font-size: 20px" ng-click="clickSubmitTemplate(tmp)"></i>
              <i ng-show="tmp.status=='submit'" title="Waiting for approval" class="fa fa-clock-o" style="font-size: 20px"></i>
              <i ng-show="tmp.status=='approved'" class="fa fa-thumbs-o-up" style="font-size: 20px"></i>
            </a>
          </div> -->

          <!-- <div class="list">
            <a class="item item-icon-right header" ng-click="showTemplateStore=!showTemplateStore" ng-init="showTemplateStore=false">
              <i ng-class="showTemplateStore?'ion-minus':'ion-plus'"></i>
              <span class="firstName">Window Library</span>
            </a>
          </div>

          <div class="list" ng-show="showTemplateStore">
            <a class="item item-icon-right" ng-repeat="tmp in storeTemplates" style="cursor:pointer;">
              <span ng-click="clickTemplate(tmp)">{{tmp.name}}</span>
              <i class="fa fa-plus-square-o" style="font-size: 20px" ng-click="clickAddTemplate(tmp)"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
