<ion-pane>
  <ion-content>
    <div class="login">
      <div class="logo-Parent">
        <a ui-sref="home"><img src="img/logo-white.png" class="logo" alt=""/></a>
      </div>
      <div class="tabsBox">
        <h4 class="signUpH1">Create a new password.</h4>
        <span>Replace your old, forgotten password with a shiny new one.</span>
        <form name="changePasswordForm" ng-submit="newPassword(changePasswordForm)">
          <div class="list listSignUp">
            <span class="input-label">New Password</span>
            <label class="item item-input">
              <input type="password" name="password" ng-minlength="6" placeholder="Password" ng-model="changePassword.newPassword" ng-required>
            </label>
          </div>
          <p class="passwordCharacters" ng-show="changePasswordForm.password.$error.minlength">Your password must be at least 6 characters long.</p>
          <div class="list">
            <span class="input-label">Confirm new Password</span>
            <label class="item item-input">
              <input type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" ng-required>
            </label>
          </div>
          <div class="inputError" ng-show="confirmPassword !== changePassword.newPassword && !changePasswordForm.confirmPassword.$error.required"><i class="ion-alert-circled"></i> Your password do not match.</div>
          <div class="inputError" ng-show="changeError"><i class="ion-alert-circled"></i> Already used OR expried link.</div>
          <div class="inputSuccess" ng-show="changeSuccess"><i class="ion-android-checkbox"></i> Password change successfully</div>
          <div class="row">
            <div class="col col-12">
              <button class="button button-block button-positive savePassword">
                Save Password and Go to Sign In
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </ion-content>
</ion-pane>
