<span class="closeIcon" ng-click="closePlanPopup()"><i class="ion-android-close"></i></span>
<ion-scroll zooming="true" direction="y" style="height: 300px">
  <div class="listItemsArea">
    <div class="list">
      <ion-radio ng-repeat="plan in plans" ng-value="plan.plan_code" ng-model="user.recurlyPlanId">
        <span style="text-transform: capitalize;">{{plan.plan_code}}</span>
        <span>${{plan.unit_amount_in_cents.USD._ / 100}}/{{plan.plan_interval_unit}}</span>
      </ion-radio>

      <!-- <a class="item item-icon-left item-icon-right" href="javascript:">
        <img src="img/userImage_03.png" alt=""/>
        <span>Name or group</span>
        <ion-list>
          <ion-checkbox ng-model="user.stripePlanId"></ion-checkbox>
        </ion-list>
      </a>

      <a class="item item-icon-left" href="javascript:">
        <img src="img/userImage_03.png" alt=""/>
        <span>Name or group</span>
        <ion-list>
          <ion-checkbox ng-model="user.stripePlanId"></ion-checkbox>
        </ion-list>
      </a> -->

    </div>
  </div>
</ion-scroll>
<div class="rightAreaButton">
  <button type="button" class="saveBtn" ng-click="savePlan()">Save</button>
</div>
