<div class="refer-friend-content">
  <h2>Share The Human Experience and earn credit!</h2>
  <p>You can earn credit toward your monthly fee by referring your friends to The Human Experience. You'll get your credit when the sign up for their first month of membership.</p>
  <div class="field-area">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email Address" name="email" ng-model="invite.email">
      </label>
    </div>
    <button type="button" ng-click="clickSendInvite()">send invite</button>
  </div>
  <div class="invite-friends-list" ng-show="invites.length > 0">
    <div class="row">
      <div  class="col col-60">Invited Friends</div>
      <div  class="col col-20">Status</div>
      <div  class="col col-20">&nbsp;</div>
    </div>
  </div>
  <div class="invite-friends-area">
    <div class="row" ng-repeat="inv in invites" style="text-align:left;">
      <div class="col col-60">{{inv.email}}</div>
      <div class="col col-20" style="text-transform: capitalize;">{{inv.status=='accepted'?'Active':'Invited'}}</div>
      <div class="col col-20" ng-show="inv.status=='invited'">
        <button type="button" class="link-btn" ng-click="resendInvite(inv);">Resend</button>
        <button type="button" class="link-btn" ng-click="cancelInvite(inv);">Cancel</button>
      </div>
    </div>
    <h2 style="margin-top:50px;">More ways to invite your friends</h2>
    <button type="button" class="link-btn" ng-click="copyToClipboard()"><i class="ion-link"></i> copy link</button>
    <button type="button" class="share-btn"><i class="ion-social-facebook"></i> share on facebook</button>
  </div>
</div>
