<ion-pane>
  <ion-content>
    <div class="login">
      <div class="logo-Parent">
        <img src="img/logo-Parent.png" class="logo" alt=""/>
      </div>
      <div class="tabs-striped tabs-top tabs-color-light signUpTabs">
        <div class="tabs">
          <a class="tab-item active" ng-class="{'active': tabs.active == 'signup'}" href="Javascript:" ng-click="tabs.active = 'signup'">
            Account Info
          </a>
          <a class="tab-item" ng-class="{'active': tabs.active == 'next'}" href="Javascript:" ng-click="tabs.active = 'next'">
            Personal Info
          </a>
        </div>
      </div>
      <!--//////////////// Account Info tab view /////////////////////-->
      <div class="tabsBox" ng-show="tabs.active == 'signup'">
        <h4 class="signUpH1">Well, hello there!</h4>
        <span>we're so glad you're ready to join THE. Let's start by creating your account login. Been here before? <a ui-sref="signin">Sign in.</a></span>
        <form name="signupForm" ng-submit="accountInfo(signupForm)" novalidate>
          <div class="list">
            <span class="input-label">Email address</span>
            <label class="item item-input">
              <input type="email" name="email" ng-model="user.email" placeholder="example@the.com" required>
            </label>
          </div>
          <div class="inputError" ng-show="signupForm.$submitted && signupForm.email.$error.required"><i class="ion-alert-circled"></i> Email address is required</div>
          <div class="inputError" ng-show="signupForm.$submitted && signupForm.email.$error.email"><i class="ion-alert-circled"></i> Enter valid email address</div>

          <div class="list listSignUp">
            <span class="input-label">Password</span>
            <label class="item item-input">
              <input type="password" ng-minlength="6" name="password" ng-model="user.password" placeholder="Password" required>
            </label>
          </div>
          <div class="inputError" ng-show="signupForm.$submitted && signupForm.password.$error.required"><i class="ion-alert-circled"></i> Password is required</div>
          <p class="passwordCharacters" ng-show="signupForm.password.$error.minlength">Your password must be at least 6 characters long.</p>

          <div class="list">
            <span class="input-label">Confirm Password</span>
            <label class="item item-input">
              <input type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password" required>
            </label>
          </div>
          <div class="inputError" ng-show="signupForm.$submitted && signupForm.confirmPassword.$error.required"><i class="ion-alert-circled"></i> Confirm password is required</div>
          <div class="inputError" ng-show="confirmPassword !== user.password && !signupForm.confirmPassword.$error.required"><i class="ion-alert-circled"></i> Your password do not match.</div>

          <!--<p class="passwordCharacters">By creating an account, I accept THE <a href="javascript:">Terms of Service</a> and-->
          <!--<a href="javascript:">Privacy Policy</a>.</p>-->
          <div class="row">
            <div class="col col-50 col-offset-25">
              <button class="button button-block button-positive">
                Next
              </button>
            </div>
          </div>
        </form>
      </div>

      <!--//////////////// Personal Info tab view /////////////////////-->
      <div class="tabsBox" ng-show="tabs.active == 'next'">
        <h4 class="signUpH1">Now some basic info.</h4>
        <span>Nothing fancy, just a few things to fill out your profile and help us get to know you better.</span>
        <form name="personalForm" ng-submit="personalInfo(personalForm)" novalidate>
          <div class="list">
            <span class="input-label">First name</span>
            <label class="item item-input">
              <input type="text" name="firstName" ng-model="user.firstName" placeholder="First Name" required>
            </label>
          </div>
          <div class="inputError" ng-show="personalForm.$submitted && personalForm.firstName.$error.required"><i class="ion-alert-circled"></i> First name is required</div>

          <div class="list">
            <span class="input-label">Last name</span>
            <label class="item item-input">
              <input type="text" name="lastName" ng-model="user.lastName" placeholder="Last Name" required>
            </label>
          </div>
          <div class="inputError" ng-show="personalForm.$submitted && personalForm.lastName.$error.required"><i class="ion-alert-circled"></i> Last name is required</div>

          <span class="gender">Gender</span>
          <div class="list">
            <label class="item item-input item-select">
              <select ng-model="user.gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
              </select>
            </label>
          </div>

          <div class="list termCheckBox">
            <label class="checkbox">
              <input type="checkbox" name="terms" ng-model="user.terms" required>
            </label>
            <span>Select to approve <a href="pdf/terms.pdf" target="_blank">Terms</a> &amp; <a href="pdf/privacy.pdf" target="_blank">Privacy Policy</a></span>
          </div>
          <div class="inputError" ng-show="personalForm.$submitted && personalForm.terms.$error.required && !loginSuccess"><i class="ion-alert-circled"></i> Please click Terms and Privacy Policy.</div>

          <!--TODO: show signup success message -->
          <div class="inputSuccess" ng-show="signupSuccess"><i class="ion-android-checkbox"></i> Signup successfully</div>

          <div class="row buttonsParent">
            <div class="col col-12 buttons">
              <button type="button" class="button button-block button-positive backBtn" ng-click="tabs.active = 'signup'">
                Back
              </button>
              <button class="button button-block button-positive">
                Done
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-pane>
