<ion-pane>
  <ion-content>
    <div class="login">
      <div class="logo-Parent">
        <a ui-sref="home"><img src="img/logo.png" class="logo" alt=""/></a>
      </div>
      <div class="tabsBox">
        <h4 class="signUpH1">Well, hello there!</h4>
        <span>we're so glad you're ready to join THE. Let's start by creating your account login. Been here before? <a href="javascript:">Sign in.</a></span>
        <form>
          <div class="list">
            <span class="input-label">Email address</span>
            <label class="item item-input">
              <input type="text" placeholder="example@the.com">
            </label>
          </div>
          <div class="list listSignUp">
            <span class="input-label">Password</span>
            <label class="item item-input">
              <input type="password" placeholder="Password">
            </label>
          </div>
          <p class="passwordCharacters passwordCharactersFirst">Your password must be at least 6 characters long.</p>
          <div class="list signUpLast">
            <span class="input-label">Confirm Password</span>
            <label class="item item-input">
              <input type="password" placeholder="Confirm Password">
            </label>
          </div>
          <p class="passwordCharacters">By creating an account, I accept THE <a href="javascript:">Terms of Service</a> and
          <a href="javascript:">Privacy Policy</a>.</p>
        </form>
        <div class="row">
          <div class="col col-50 col-offset-25">
            <button class="button button-block button-positive">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
