<!-- <div class="leftBox" ng-show="template.folders.length > 0 || template.nuggets.length > 0"> -->
<div class="leftBox">
  <div class="csv-download" ng-click="clickBackBtn();" ng-show="toggleView == 'template'">
    <a>
      <i class="ion-ios-arrow-back"></i>
      Back
    </a>
  </div>  
  <div class="row">    
    <div class="col col-75 firstRow">
      <div class="row">
        <div class="col col-30">&nbsp;</div>
        <div class="col col-40">
          <label class="item item-input item-select item-light">
            <div class = "input-label">
              Select
            </div>
            <select ng-model="template.topic">
              <option value="" disabled selected>Topic</option>
              <option ng-repeat="topic in topics" value="{{topic._id}}">{{topic.name}}</option>
            </select>
          </label>
        </div>
        <div class="col col-30">&nbsp;</div>
      </div>
      <!-- <div class="row">
        <div class="col col-40">
          <label class="item item-input">
            <input type="text" placeholder="Template Name" ng-model="template.name">
          </label>
        </div>
        <div class="col col-40">
          <label class="item item-input template-tag" ng-click="clickChangeTag()">
            <ion-select class="template-tag-selection">
              <ion-option ng-show="template.tags.length == 0">Tags</ion-option>
              <ion-option ng-repeat="tag in template.tags"> {{tag.name}} </ion-option>
            </ion-select>
          </label>
        </div>
        <div class="col col-20">
          <label class="item item-input">
            <input type="number" placeholder="Price" ng-model="template.price" min="0">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col col-100">
          <label class="item item-input">
            <input type="text" placeholder="Descripotion" ng-model="template.description">
          </label>
        </div>
      </div><br> -->
      <div class="row listItemsArea">
        <table class="table adminTemplateList">
          <tbody>
          <tr ng-repeat="folder in template.folders">
            <!-- <td style="width:50px;">
              <label class="checkbox">
                <input type="checkbox" ng-click="chooseFolder(folder);" ng-checked="selectedFolder==folder">
              </label>
            </td> -->
            <td ng-class="'padding'+folder.level">
              <label class="folderInput item item-input" ng-click="chooseFolder(folder);">
                <i class="icon placeholder-icon" ng-class="folder.type=='nugget'?'ion-4':'ion-'+folder.level"></i>
                <input type="text" ng-class="{'selected': folder==selectedFolder}" placeholder="{{levelPlaceHolder[folder.level]}}" ng-model="folder.name">
              </label>
            </td>
            <td style="width:50px;" ng-show="!template.userId || user._id==template.userId._id">
              <i ng-hide="folder.parentId=='root'" class="ion-ios-close-outline" ng-click="removeFolder(folder);"></i>
            </td>
            <!-- <td style="width:50px;">
              <i ng-hide="folder.parentId=='root' || template.folders.indexOf(folder) <= 1" class="ion-arrow-up-c" ng-click="moveUpFolder(folder);"></i>
            </td>
            <td style="width:50px;">
              <i ng-hide="folder.parentId=='root' || template.folders.indexOf(folder) >= template.folders.length - 1" class="ion-arrow-down-c" ng-click="moveDownFolder(folder);"></i>
            </td> -->
            <td style="width:30px;" ng-show="!template.userId || user._id==template.userId._id">
              <!-- <span ng-click="openAddPrompt(folder);">Pr</span> -->
              <span ng-click="openAddNote(folder);">Nt</span>
              <!-- <span ng-hide="folder.level==4 || folder.type=='nugget'" ng-click="openAddPrompt(folder);">Pr</span>
              <span ng-show="folder.type=='nugget'" ng-click="openAddNugget(folder);">E</span> -->
            </td>
          </tr>
          </tbody>
        </table>
        <!-- <div class="list">
          <ion-checkbox ng-repeat="folder in template.folders" ng-click="chooseFolder(folder);" ng-checked="selectedFolder==folder">
            <span>{{folder.strPath.replace("Home","")}}/{{folder.name}}</span>
          </ion-checkbox>
          <i class="ion-ios-close-outline" ng-click="removeFolder(folder._id);"></i>
        </div> -->
      </div>
      <div class="row" ng-show="!template.userId || user._id==template.userId._id">
        <div class="template-button-wrapper">
          <button type="button" class="cancel-btn" ng-click="cancelTemplate()">Cancel</button>
          <button type="button" class="save-btn" ng-click="saveTemplate(1)">Save</button>
          <!-- <button type="button" class="save-btn" ng-click="deleteTemplate()">Delete</button> -->
        </div>
      </div>
    </div>

    <div class="col">
      <div class="rightContent follow-scroll" style="margin: 0px 50px;" ng-show="!template.userId || user._id==template.userId._id">
        <div class="list">
          <!-- <a class="item item-icon-left listFirst" ng-click="createFolder(0)">
            <i class="ion-ios-plus-outline"></i>
            Add Window
          </a> -->

          <a class="item item-icon-left listFirst" ng-click="createFolder(1)" ng-hide="selectedFolder.level == -1">
            <i class="ion-ios-plus-outline"></i>
            Purpose
          </a>

          <a class="item item-icon-left listFirst" ng-click="createFolder(2)" ng-hide="selectedFolder.level == 0 || selectedFolder.level == -1">
            <i class="ion-ios-plus-outline"></i>
            Chapter
          </a>

          <a class="item item-icon-left listFirst" ng-click="createFolder(3)" ng-hide="selectedFolder.level == 0 || selectedFolder.level == 1 || selectedFolder.level == -1">
            <i class="ion-ios-plus-outline"></i>
            Section
          </a>

          <a class="item item-icon-left listFirst" ng-click="createFolder(4)" ng-hide="selectedFolder.level == 0 || selectedFolder.level == -1">
            <i class="ion-ios-plus-outline"></i>
            Nugget
          </a>
          
          <button type="button" ng-click="saveTemplate(0);">
            <!-- <i class="ion-ios-plus-outline"></i> -->
            Save
          </button>

          <button type="button" ng-click="cancelTemplate();">
            Exit
          </button>
          
          <button type="button" ng-click="printTemplate();">
            Print
          </button>          

          <!-- <a class="item item-icon-left listFirst" ng-click="openAddPrompt($event)">
            <i class="ion-ios-plus-outline"></i>
            Add Prompt
          </a> -->
        </div>
      </div>
    </div>
  </div> 
</div>
<!-- <div class="leftBox" ng-show="template.folders.length == 0 && template.nuggets.length == 0">
  <h4><center>There is no selected Folder or Nugget.</center></h4>
</div> -->