<span class="closeIcon" ng-click="closeViewHistoryPopup()"><i class="ion-android-close"></i></span>
<ion-scroll zooming="true" direction="y" style="height: 500px">
  <div class="listItemsArea">
    <div class="list">
      <p><center>There is no payment history.</center></p>
      <!-- <a class="item item-icon-left" href="javascript:">
        <img src="img/userImage_03.png" alt=""/>
        <span>Public - select names below</span>
        <p class="changeText">Change</p>
      </a>

      <a class="item item-icon-left item-icon-right" href="javascript:">
        <img src="img/userImage_03.png" alt=""/>
        <span>Name or group</span>
        <ion-list>
          <ion-checkbox ng-model="filter.grou1"></ion-checkbox>
        </ion-list>
      </a>

      <a class="item item-icon-left" href="javascript:">
        <img src="img/userImage_03.png" alt=""/>
        <span>Name or group</span>
        <ion-list>
          <ion-checkbox ng-model="filter.group2"></ion-checkbox>
        </ion-list>
      </a> -->

    </div>
  </div>
</ion-scroll>