<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Employment
		</a>
	</div>
</div>
<div class="hide-on-sm blue-form">
	<div>
		<div class="tableLinks">
			<span class="active">Employment</span>
		</div>
	</div>
</div>
<div class="responsive-sm blue-form" ng-repeat="employment in employments track by $index">

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Employer</span>
			</div>
		</div>

		<div class="row" ng-repeat="(title, value) in employment.addedEmployerInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="employment.addedEmployerInfo[title]" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="employment.addedEmployerInfo"></add-another>
      </div>
    </div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Notes:</span>
			</div>
      <div class="col col-90">
        <textarea class="textarea" ng-model="employment.employerNotes" rows="5"></textarea>
      </div>
    </div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Dates of Employment</span>
			</div>
		</div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">From</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="employment.startDate.day" class="input">
				<input type="number" ng-model="employment.startDate.month" class="input">
				<input type="number" ng-model="employment.startDate.year" class="input">
      </div>
    </div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">To</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="employment.endDate.day" class="input">
				<input type="number" ng-model="employment.endDate.month" class="input">
				<input type="number" ng-model="employment.endDate.year" class="input">
      </div>
    </div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Location</span>
			</div>
		</div>


		<div class="row">
			<div class="col col-10">
				<span class="input-name">Street Address</span>
			</div>
			<div class="col col-90">
				<input type="text" ng-model="employment.street" class="input">
			</div>
		</div>

		<div class="row" ng-repeat="(title, value) in employment.addedAddressInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="employment.addedAddressInfo[title]" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="employment.addedAddressInfo"></add-another>
      </div>
    </div>


		<div class="row">
			<div class="col col-10">
				<span class="input-name">City</span>
			</div>
			<div class="col col-90">
				<input type="text" ng-model="employment.city" class="input">
			</div>
		</div>


		<div class="row">
			<div class="col col-10">
				<span class="input-name">Country</span>
			</div>
			<div class="col col-90">
				<input type="text" ng-model="employment.country" class="input">
			</div>
		</div>


		<div class="row">
			<div class="col col-10">
				<span class="input-name">State</span>
			</div>
			<div class="col col-90">
				<input type="text" ng-model="employment.state" class="input">
			</div>
		</div>


		<div class="row">
			<div class="col col-10">
				<span class="input-name">Zip Code</span>
			</div>
			<div class="col col-90">
				<input type="number" ng-model="employment.zipcode" class="input">
			</div>
		</div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Notes</span>
			</div>
		</div>

    <div class="row">
			<div class="col col-10">
				<span class="input-name">Notes:</span>
			</div>
      <div class="col col-90">
        <textarea class="textarea" ng-model="employment.employmentNotes" rows="5"></textarea>
      </div>
    </div>

		<div class="row buttons">
		  <button class="blue-button" ng-click="save($index)">Save</button>
			<button class="blue-button" ng-click="delete($index)">Delete</button>
		</div>

</div>



<div class="row">
	<div class="col col-33">
	</div>
	<div class="col col-33 add-form-button">
		<button ng-click="addForm()" class="blue-button">Add Form</button>
	</div>
	<div class="col col-33">
	</div>
</div>
