<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Employement
            <i class="icon ion-ios-arrow-down vertical-middle"></i>
            <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span style="font-size: 16px;padding-left:5px;">Add New</span></i>
		</a>
	</div>
</div>
<div class="hide-on-sm">
	<div>
		<div class="tableLinks">
            <span class="active">Employement</span>
            <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span class="padding-horizontal" style="font-size: 18px;">Add New</span></i>
		</div>
	</div>
</div>
<div class="md-margin-10 responsive-sm" ng-repeat = "employment in employments">
    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Company" ng-model="employment.company" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Title" ng-model="employment.title" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Honors/Awards" ng-model="employment.awards" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Street" ng-model="employment.street" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="City" ng-model="employment.city" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="State" ng-model="employment.state" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Zip Code" ng-model="employment.zipcode" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Country" ng-model="employment.country" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Business Type" ng-model="employment.type" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input  type="date" placeholder="Start Date" ng-model="employment.startDate" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input  type="date" placeholder="End Date" ng-model="employment.endDate" ng-blur="updateData();">
            </label>
        </div>
    </div>

    

    <div class="row">
        <div class="col col-100">
            <label class="item item-input vital-textarea">
                <textarea placeholder="Notes" ng-model="employment.notes" ng-blur="updateData();">{{employment.notes}}</textarea>
            </label>
        </div>
    </div>
		
		<div class="row">
      <div class="col col-100">
					<div class="delete-button" ng-click="removeItem(employment);">
						<i class="ion-ios-close-outline"></i>
						Delete						
					</div>
      </div>
    </div>
</div>
<!-- <div style="width: 100%;" class="leftBox margin-bottom-25">
    <table class="table report">
        <tbody>
            <tr class="user-table">
                <th>Company</th>                
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Country</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Title</th>                
                <th>Actions</th>                
            </tr>
        </tbody>
    </table>
</div> -->