<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Education
		</a>
	</div>
</div>
<div class="hide-on-sm blue-form">
	<div>
		<div class="tableLinks">
			<span class="active">Education</span>
		</div>
	</div>
</div>
<div class="responsive-sm blue-form" ng-repeat="education in educations track by $index" ng-if="$parent.checkedItems['education'][education.type] || education.type == unedfined">



		<div class="row">
			<div class="col col-10">
				<span class="input-name">Type</span>
			</div>
			<div class="col col-90">
				<select ng-model="education.type" class="input">
					<option ng-repeat="e in education_list" value="{{e}}">{{e}}</option>
				</select>
			</div>
		</div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Institution/School</span>
			</div>
		</div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Name of School</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.school" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Description of School</span>
			</div>
      <div class="col col-90">
        <textarea class="textarea" ng-model="education.schoolDescription" rows="5"></textarea>
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Street Address</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.street" class="input">
      </div>
    </div>

		<div class="row" ng-repeat="(title, value) in education.addedSchoolAddresInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.addedSchoolAddresInfo[title]" class="input">
      </div>
    </div>


		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="education.addedSchoolAddresInfo"></add-another>
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">City</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.city" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">State</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.state" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Zip Code</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="education.zipcode" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Country</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.country" class="input">
      </div>
    </div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Dates Attended</span>
			</div>
		</div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">From</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="education.startDate.day" class="input">
				<input type="number" ng-model="education.startDate.month" class="input">
				<input type="number" ng-model="education.startDate.year" class="input">
      </div>
    </div>


    <div class="row date">
			<div class="col col-10">
				<span class="input-name">To</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="education.endDate.day" class="input">
				<input type="number" ng-model="education.endDate.month" class="input">
				<input type="number" ng-model="education.endDate.year" class="input">
      </div>
    </div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Diplomas/Degrees/Honors</span>
			</div>
		</div>


		<div class="row" ng-repeat="(title, value) in education.addedMajorInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.addedMajorInfo[title]" class="input">
      </div>
    </div>


		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="education.addedMajorInfo"></add-another>
      </div>
    </div>

		<div class="row" ng-repeat="(title, value) in education.addedDiplomaInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.addedDiplomaInfo[title]" class="input">
      </div>
    </div>


		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="education.addedDiplomaInfo"></add-another>
      </div>
    </div>

		<div class="row" ng-repeat="(title, value) in education.addedOtherInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.addedOtherInfo[title]" class="input">
      </div>
    </div>


		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="education.addedOtherInfo"></add-another>
      </div>
    </div>


		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Extracurricular Activities</span>
			</div>
		</div>

		<div class="row" ng-repeat="(title, value) in education.addedExtracurricularInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="education.addedExtracurricularInfo[title]" class="input">
      </div>
    </div>


		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="education.addedExtracurricularInfo"></add-another>
      </div>
    </div>


		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Notes</span>
			</div>
		</div>

    <div class="row">
			<div class="col col-10">
			</div>
      <div class="col col-90">
        <textarea class="textarea" ng-model="education.notes" rows="5"></textarea>
      </div>
    </div>


		<div class="row buttons">
		  <button class="blue-button" ng-click="save($index)">Save</button>
			<button class="blue-button">Delete</button>
		</div>
</div>



<div class="row">
	<div class="col col-33">
	</div>
	<div class="col col-33 add-form-button">
		<button ng-click="addForm()" class="blue-button">Add Form</button>
	</div>
	<div class="col col-33">
	</div>
</div>
