<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			Licences/Certificates
            <i class="icon ion-ios-arrow-down vertical-middle"></i>
            <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span style="font-size: 16px;padding-left:5px;">Add New</span></i>
		</a>
	</div>
</div>
<div class="hide-on-sm">
	<div>
		<div class="tableLinks">
            <span class="active">Licences/Certificates</span>
            <i class="icon ion-ios-plus-outline blue-text float-right hand" ng-click="addItem();"><span class="padding-horizontal" style="font-size: 18px;">Add New</span></i>
		</div>
	</div>
</div>
<div class="md-margin-10 responsive-sm" ng-repeat = "licences in licencess">
    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Association" ng-model="licences.association" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Licences/Certificates" ng-model="licences.licences" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Honors/Awards" ng-model="licences.awards" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Street" ng-model="licences.street" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="City" ng-model="licences.city" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="State" ng-model="licences.state" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Zip Code" ng-model="licences.zipcode" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
		<div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input type="text" placeholder="Country" ng-model="licences.country" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input  type="date" placeholder="Start Date" ng-model="licences.startDate" ng-blur="updateData();">
            </label>
        </div>
		</div>
		
    <div class="row">
        <div class="col col-100">
            <label class="item item-input">
                <input  type="date" placeholder="End Date" ng-model="licences.endDate" ng-blur="updateData();">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col col-100">
            <label class="item item-input vital-textarea">
                <textarea placeholder="Notes" ng-model="licences.notes" ng-blur="updateData();">{{licences.notes}}</textarea>
            </label>
        </div>
    </div>
		
		<div class="row">
      <div class="col col-100">
					<div class="delete-button" ng-click="removeItem(licences);">
						<i class="ion-ios-close-outline"></i>
						Delete						
					</div>
      </div>
    </div>
</div>
<!-- <div style="width: 100%;" class="leftBox margin-bottom-25">
    <table class="table report">
        <tbody>
            <tr class="user-table">
                <th>Association</th>                
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Country</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Certification</th>                
                <th>Actions</th>                
            </tr>
        </tbody>
    </table>
</div> -->