<div class="hide-on-md">
	<div class="list">
		<!-- ng-click="modal.show()" -->
		<a class="item center-text">
			licence/Certifications
		</a>
	</div>
</div>
<div class="hide-on-sm blue-form">
	<div>
		<div class="tableLinks">
			<span class="active">licence/Certifications</span>
		</div>
	</div>
</div>
<div class="responsive-sm blue-form" ng-repeat="licence in licences track by $index" ng-if="$parent.checkedItems['licence'][licence.type] || licence.type == unedfined">


		<div class="row">
			<div class="col col-10">
				<span class="input-name">Type</span>
			</div>
			<div class="col col-90">
				<select ng-model="licence.type" class="input">
					<option ng-repeat="e in licence_list" value="{{e}}">{{e}}</option>
				</select>
			</div>
		</div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">licence/Certification</span>
			</div>
		</div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Certifying Authority</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.authority" class="input">
      </div>
    </div>

    <div class="row date">
			<div class="col col-10">
				<span class="input-name">Date Granted</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="licence.grantedDate.day" class="input">
				<input type="number" ng-model="licence.grantedDate.month" class="input">
				<input type="number" ng-model="licence.grantedDate.year" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Term</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.term" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Notes</span>
			</div>
      <div class="col col-90">
				<textarea class="textarea" ng-model="licence.notes" rows="5"></textarea>
      </div>
    </div>

		<div>
			<div class="tableLinks subtitle">
	      <span class="active">Location</span>
			</div>
		</div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Address</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.address" class="input">
      </div>
    </div>

		<div class="row" ng-repeat="(title, value) in licence.addedAddressInfo">
			<div class="col col-10">
				<span class="input-name">{{title}}</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.addedAddressInfo[title]" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10"></div>
      <div class="col col-90">
				<add-another label-text="Add Another" hash="licence.addedAddressInfo"></add-another>
      </div>
    </div>



		<div class="row">
			<div class="col col-10">
				<span class="input-name">P.O. Box</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.pobox" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">City</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.city" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">State</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.state" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Zip Code</span>
			</div>
      <div class="col col-90">
        <input type="number" ng-model="licence.zipcode" class="input">
      </div>
    </div>

		<div class="row">
			<div class="col col-10">
				<span class="input-name">Country</span>
			</div>
      <div class="col col-90">
        <input type="text" ng-model="licence.country" class="input">
      </div>
    </div>


		<div class="row buttons">
		  <button class="blue-button" ng-click="save($index)">Save</button>
			<button class="blue-button" ng-click="delete($index)">Delete</button>
		</div>



</div>



<div class="row">
	<div class="col col-33">
	</div>
	<div class="col col-33 add-form-button">
		<button ng-click="addForm()" class="blue-button">Add Form</button>
	</div>
	<div class="col col-33">
	</div>
</div>
