<span class="closeIcon" ng-click="closePopup()"><i class="ion-android-close"></i></span>

<div class="list">
  <button ui-sref = "VitalInfo.AddContact" class="button button-block button-positive" ng-click="clickSendShare()">
    CREATE CONTACT
  </button>
  <div class="center-text">or</div>
  <button class="button button-block button-stable add-contact-social-button">
      <i class="fa fa-linkedin calm" aria-hidden="true"></i> 
      <span class="padding"></span>
      IMPORT FROM LINKEDIN
  </button>
  <button class="button button-block button-stable add-contact-social-button">
                <i class="fa fa-paper-plane calm flip-180" aria-hidden="true"></i> 
                <span class="padding"></span>
                IMPORT FROM OUTLOOK
            </button>
</div>