<!-- <div class="row responsive-md">
	<span class="col"></span>
	<div class="col">
		<form class="add-contact-form" ng-submit="login(loginForm)" novalidate>
			<div class="list">
				<span class="input-label">First Name</span>
				<label class="item item-input">
                    <input type="text" name="firstName" ng-model="user.firstName" placeholder="John" required>
                </label>
			</div>
			<div class="list">
				<span class="input-label">Last Name</span>
				<label class="item item-input">
                    <input type="text" name="lastName" ng-model="user.lastName" placeholder="Doe" required>
                </label>
			</div>
			<span class="group">Group</span>
			<div class="list">
				<label class="item item-input item-select">
					<select ng-change="groupSelected()" ng-model="user.group">
						<option value="male">family</option>
						<option value="female">doctors</option>
						<option value="others">other</option>
						<option value="createGroup">+Create Group</option>
					</select>
            	</label>
			</div>
			<div class="row responsive-sm">
				<div class="col" style="padding-right: 10px;">
					<span class="gender">Gender</span>
					<div class="list">
						<label class="item item-input item-select">
							<select ng-model="user.gender">
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="others">Others</option>
							</select>
						</label>
					</div>
				</div>

				<div class="col">
					<div class="list">
						<span class="input-label">Date Of Birth</span>
						<label class="item item-input">
							<input type="date" name="dob" ng-model="user.dob" placeholder="Doe" required>
							<i style="margin-right: 20px;color:black" class="fa fa-calendar placeholder-icon"></i>
						</label>
					</div>
				</div>
			</div>
			<div class="list">
				<span class="input-label">Email address</span>
				<label class="item item-input">
                    <input type="email" name="email" ng-model="user.email" placeholder="example@the.com" required>
                </label>
			</div>

		</form>
	</div>
	<span class="col"></span>
</div> -->
<div class="vital-info-address hide-on-md">
	<span ui-sref = "VitalInfo" class="first">Vital Info / Contacts / </span>
	<span class="other">New Contact</span>
</div>
<div>
	<div class="profile-parent">
		<blue-form form="form"></blue-form>
	</div>
</div>



<script id="add-group-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-stable modal-header">
			<h1 class="title center-text">Add New Group</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-ios-close-empty"></i></button>
		</ion-header-bar>
		<ion-content class="add-contact-modal-content padding add-group-popup">
			<p>
				Short description about what Groups are, the goals and how you can use them. May be give an example of one you might add.
			</p>
			<div class="list">
				<span class="input-label">Group Name</span>
				<label class="item item-input">
                    <input type="text" name="groupName" ng-model="groupName" placeholder="Name" required>
				</label>
			</div>
			<ion-checkbox class="add-group-checkbox" style="border: none; margin-top: 5px;" ng-model="filter.red">
				Add <b>{{user.firstName + ' ' + user.lastName}}</b> to this group
			</ion-checkbox>

			<button ng-click="closeModal()" style="width:100%; float: none" class="button button-full button-positive">CREATE NEW GROUP</button>
		</ion-content>
	</ion-modal-view>
</script>
