/* Empty. Add your own CSS if you like */
.headerNav{
  background: white !important;
  display: block;
  height: 170px;
}
.nav{
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid #b2b2b2;
  padding: 30px 0 20px 0;
}
.tabsNav{
  width: 85%;
  margin: 0 auto;
}
.tabsNav ul{
  padding: 24px 0 0 0;
}
.tabsNav ul li{
  display: inline-block;
  margin: 0 60px 0 0;
}
.tabsNav ul li a{
  text-decoration: none;
  color: #989898;
  font-size: 16px;
}
.headerNav .navHeading{
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Arvo', serif;
  margin: 0;
  position: static;
  display: inline-block;
  width: 20%;
  word-spacing: 5px;
  font-weight: 400;
  text-align: left;
}
.linksNav{
  width: 80%;
  display: inline-block;
  text-align: right;
  padding: 0;
  float: right;
}
.linksNav h5{
  font-size: 18px;
  display: inline-block;
  margin: 0 0 0 60px;
  font-family: 'Merriweather', serif;
}
.linksNav h6{
  font-size: 18px;
  color: #989898;
  font-family: 'Merriweather', serif;
  display: inline-block;
}
.linksNav h5 a{
  text-decoration: none;
  color: #1072ba;
  font-family: 'Merriweather', serif;
}
.login{
  padding: 100px 15px 0 15px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.login h1{
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Arvo', serif;
  margin: 0 0 50px 0;
  word-spacing: 5px;
  font-weight: 400;
  text-align: center;
}
.signUpH1{
  margin: 0 0 15px 0 !important;
}
.login h4{
  font-size: 24px;
  margin: 0 0 30px 0;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: black;
}
.login span{
  font-size: 20px;
  margin: 0 0 30px 0;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  line-height: 26px;
  max-width: 100%;
  width: 100%;
}
.login span a{
  text-decoration: none;
  font-weight: 500;
  color: #1072ba;
}
form .list span{
  margin: 0;
}
form .list .item{
  border-color: #333333;
}
.forgot-password{
  color: #1072ba;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 15px 0 0 0;
  display: inline-block;
  word-spacing: 3px;
  letter-spacing: 0.2px;
  text-decoration: none;
  border-bottom: 1px solid #1072ba;
}
.button{
  border-radius: 0;
  font-size: 20px;
  letter-spacing: 0.2px;
  min-height: 50px;
}
.button.button-block, .button.button-full{
  margin-top: 20px;
}
.passwordCharacters{
  margin: 0 0 15px 0;
  font-size: 13px;
  color: #939597;
}
.passwordCharacters a{
  color: #939597;
}
.listSignUp{
  margin: 0;
}
.signUpTabs{
  display: inline-block;
}
.signUpTabs .tabs{
  width: 100%;
  display: inline-block;
  top: 170px;
  left: 0;
  padding: 0 15px;
  border: none;
}
.signUpTabs .tabs .tab-item{
  width: 50%;
  max-width: 50%;
  float: left;
  color: #D1D2D4;
  border-bottom: 4.8px solid #D1D2D4;
  font-size: 22px;
}
.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated{
  color: #000;
  border-bottom: 5px solid #1071B9;
  border-width: 0 0 5px 0 !important;
  margin: 0;
}
.item-select select{
  max-width: 100%;
  width: 100%;
  direction: inherit;
}
.item-input{
  height: 50px;
}
.gender{
  margin: 5px 0 5px 0 !important;
}
.tabsBox{
  margin-top: 50px;
}
.buttonsParent{
  padding: 0;
}
.buttonsParent .buttons{
  padding: 0;
}
.buttonsParent .buttons .button.button-block, .button.button-full{
  width: 49%;
  float: left;
  margin-top: 30px;
  clear: none;
  background: #1071B9;
}
.buttonsParent .buttons .backBtn{
  margin-right: 9px;
  background: none !important;
  border: 1px solid #1071B9;
  color: #1071B9;
}
.signUpLast{
  margin-bottom: 3px;
}
.inputError{
  width: 100%;
  background: #f1f1f2;
  border-left: 3px solid #ed1c24;
  padding: 15px 10px 15px 10px;
  font-size: 16px;
  color: #ed1c24;
  margin: -10px 0 10px 0;
}
.inputError i{
  margin: 0 5px 0 5px;
}
.savePassword{
  width: 80% !important;
  margin: 0 auto;
  background: #1072ba !important;
}
.headerApp{
  height: 60px;
  background: white !important;
  display: block;
}
.headerApp .appUl{
  padding: 17px 0 0 0;
  width: 80%;
  display: inline-flex;
  height: 54px;
}
.tabsApp{
  width: 85%;
  margin: 0 auto;
  height: 54px;
}
.tabsApp ul li{
  display: inline-block;
  margin: 0 60px 0 0;
}
.tabsApp ul li a{
  text-decoration: none;
  color: #989898;
  font-size: 16px;
}
.startedBtn{
  width: 20%;
  float: right;
}
.startedBtn .btnGet{
  margin: 8px 0 0 0;
  width: 130px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
  background: #1072ba;
}

/*/////////////////////////////////////////////////////////*/
/*//////////////////Media Query Start Here ////////////////*/
/*/////////////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 500px){
  .login{
    width: 100%;
  }
  .input-label{
    max-width: 100%;
    width: 100%;
  }
  .buttonsParent .buttons .backBtn{
    margin-right: 6px;
  }
  .savePassword{
    width: 100% !important;
    font-size: 18px;
  }
  .row{
    padding: 0;
  }
  .col{
    padding: 0;
  }
  .col-offset-25 {
    margin-left: 0;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*/////////////////////////////////////////////////////////*/
/*//////////////////Media Query End Here //////////////////*/
/*/////////////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 767px){
  .headerNav{
    height: auto;
  }
  .nav {
    width: 100%;
    padding: 30px 15px 20px 15px;
    height: 160px;
  }
  .linksNav {
    width: 100%;
    text-align: center;
    float: left;
  }
  .linksNav h5{
    margin: 0;
  }
  .tabsNav {
    width: 90%;
    margin: 0 auto;
  }
  .tabsNav ul li {
    display: block;
    margin: 0 0 8px 0;
  }
  .headerNav .navHeading{
    width: 100%;
    text-align: center;
  }
  .tabsApp {
    width: 100%;
    padding: 0 15px;
    height: 160px;
  }
  .headerApp .appUl {
    width: 100%;
  }
  .headerApp{
    height: auto;
  }
  .tabsApp ul li {
    display: block;
    margin: 0 0 8px 0;
    width: 100%;
  }
}
