/* Empty. Add your own CSS if you like */
.headerNav{
  background: white !important;
  display: block;
  height: 170px;
}
.nav{
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid #b2b2b2;
  padding: 30px 0 20px 0;
}
.tabsNav{
  width: 85%;
  margin: 0 auto;
}
.tabsNav ul{
  padding: 24px 0 0 0;
  width: 80%;
  display: inline-block;
}
.tabsNav ul li{
  display: inline-block;
  margin: 0 60px 0 0;
}
.tabsNav ul li a{
  text-decoration: none;
  color: #989898;
  font-size: 16px;
}
.headerNav .navHeading{
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Arvo', serif;
  margin: 0;
  position: static;
  display: inline-block;
  width: 20%;
  word-spacing: 5px;
  font-weight: 400;
  text-align: left;
}
.linksNav{
  width: 80%;
  display: inline-block;
  text-align: right;
  padding: 0;
  float: right;
}
.linksNav h5{
  font-size: 18px;
  display: inline-block;
  margin: 0 0 0 60px;
  font-family: 'Merriweather', serif;
}
.linksNav h6{
  font-size: 18px;
  color: #989898;
  font-family: 'Merriweather', serif;
  display: inline-block;
}
.linksNav h5 a{
  text-decoration: none;
  color: #1072ba;
  font-family: 'Merriweather', serif;
}
.login{
  padding: 100px 15px 0 15px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.login h1{
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Arvo', serif;
  margin: 0 0 50px 0;
  word-spacing: 5px;
  font-weight: 400;
  text-align: center;
}
.signUpH1{
  margin: 0 0 15px 0 !important;
}
.login h4{
  font-size: 24px;
  margin: 0 0 30px 0;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: black;
}
.login span{
  font-size: 20px;
  margin: 0 0 30px 0;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  line-height: 26px;
  max-width: 100%;
  width: 100%;
}
.login span a{
  text-decoration: none;
  font-weight: 500;
  color: #1072ba;
}
form .list span{
  margin: 0;
}
form .list .item{
  border-color: #333333;
}
.forgot-password{
  color: #1072ba;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  display: inline-block;
  word-spacing: 3px;
  letter-spacing: 0.2px;
  text-decoration: none;
  border-bottom: 1px solid #1072ba;
}
.button{
  border-radius: 0;
  font-size: 20px;
  letter-spacing: 0.2px;
  min-height: 50px;
}
.button.button-block, .button.button-full{
  margin-top: 20px;
}
.passwordCharacters{
  margin: -17px 0 15px 0;
  font-size: 13px;
  color: #939597;
}
.passwordCharacters a{
  color: #939597;
}
.signUpTabs{
  display: inline-block;
}
.signUpTabs .tabs{
  width: 100%;
  display: inline-block;
  top: 170px;
  left: 0;
  padding: 0 15px;
  border: none;
}
.signUpTabs .tabs .tab-item{
  width: 50%;
  max-width: 50%;
  float: left;
  color: #D1D2D4;
  border-bottom: 5px solid #D1D2D4;
  font-size: 22px;
}
.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated{
  color: #000;
  border-bottom: 5px solid #1071B9;
  border-width: 0 0 5px 0 !important;
  margin: 0;
}
.item-select select{
  max-width: 100%;
  width: 100%;
  direction: inherit;
}
.item-input{
  height: 50px;
}
.gender{
  margin: 5px 0 5px 0 !important;
}
.tabsBox{
  margin-top: 50px;
}
.buttonsParent{
  padding: 0;
}
.buttonsParent .buttons{
  padding: 0;
}
.buttonsParent .buttons .button.button-block, .button.button-full{
  width: 49%;
  float: left;
  margin-top: 30px;
  clear: none;
  background: #1071B9;
}
.buttonsParent .buttons .backBtn{
  margin-right: 9px;
  background: none !important;
  border: 1px solid #1071B9;
  color: #1071B9;
}
.signUpLast{
  margin-bottom: 3px;
}
.inputError{
  width: 100%;
  background: #f1f1f2;
  border-left: 3px solid #ed1c24;
  padding: 15px 10px 15px 10px;
  font-size: 16px;
  color: #ed1c24;
  margin: -10px 0 10px 0;
}
.inputSuccess{
  width: 100%;
  background: #f1f1f2;
  border-left: 3px solid #4CAF50;
  padding: 15px 10px 15px 10px;
  font-size: 16px;
  color: #4CAF50;
  margin: -10px 0 10px 0;
}
.inputError i{
  margin: 0 5px 0 5px;
}
.savePassword{
  width: 80% !important;
  margin: 0 auto;
  background: #1072ba !important;
}
.headerApp{
  height: 60px;
  background: white !important;
  display: block;
}
.headerApp .appUl{
  padding: 17px 0 0 0;
  width: 80%;
  display: inline-flex;
  height: 54px;
}
.tabsApp{
  width: 85%;
  margin: 0 auto;
  height: 54px;
}
.tabsApp ul li{
  display: inline-block;
  margin: 0 60px 0 0;
}
.tabsApp ul li a{
  text-decoration: none;
  color: #989898;
  font-size: 16px;
}
.startedBtn{
  width: 20%;
  float: right;
  margin-top: 8px;
}
.startedBtn .btnGet{
  margin: 8px 0 0 0;
  width: 130px;
  font-size: 16px;
  float: right;
  border-radius: 20px;
  background: #1072ba;
}
/*/////////////// Home1 styling Start Here ////////////////*/
.full-information{
  float: left;
  margin: 12px 0 0 30px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(166, 165, 165);
  font-family: 'Merriweather', serif;
  font-weight: 500;
}
.active{
  color: #333333;
  font-weight: 600;
}
.list-inset{
  margin: -4px 0 0 20px;
  width: 30%;
  float: left;
}
.list-inset .item-input{
  border: 0;
}
.list-inset .item-input i{
  padding-right: 10px;
  font-size: 22px;
}
.list-inset ::-webkit-input-placeholder {
  font-size: 18px;
}
.my-account-link{
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  margin: 12px 0 0 0;
  display: inline-block;
  text-decoration: none;
  color: #f15c2d;
}
.my-account-link:last-of-type{
  color: rgb(166, 165, 165);
  margin-left: 30px;
}
.home1-tabs{
  width: 60%;
  margin: 15px 0 13px 26.5%;
}
.home1-tabs ul li{
  display: inline-block;
  padding: 8px 30px 8px 0;
}
.home1-tabs ul li a{
  text-decoration: none;
  color: rgb(166, 165, 165);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.home1-tabs ul li a.active{
  color: #0b73ba;
}
.home1-tabs ul li:first-child{
  border-right: 1px solid #cccccc;
}
.home1-tabs ul li:nth-child(2){
  padding: 8px 30px 8px 25px;
}
.home1-tabs ul li a i{
  font-size: 14px;
  margin: 0 0 0 5px;
}
.rowPadding{
  padding: 5px 125px;
}
.firstRow h3{
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0 5px 0;
  text-align: center;
  cursor: pointer;
}
.firstRow span{
  font-family: 'Merriweather', serif;
  font-size: 16px;
  margin: 0 0 40px 0;
  text-align: center;
  display: block;
}
.rightContent .firstName{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ccc;
  display: block;
}
.rightContent{
  margin: 20px 0 0 0;
}
.rightContent .list{
  margin: 0;
}
.rightContent .list .listFirst{
  margin: 20px 0 20px 0 !important;
}
.rightContent .list .item-icon-left {
  padding: 0 15px;
  margin: 10px 0 10px 0;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #267abe;
  background: none;
}
.rightContent .list .item-icon-left i:before{
  font-weight: 600;
}
.rightContent .list .item-icon-left i{
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 15px 0 0;
  display: inline-block;
  float: left;
}
.firstNugget{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  display: block;
}
.leftBox{
  box-shadow: 0 0 4px 0 #cccccc;
  padding: 30px 20px;
  width: 95%;
  margin: 25px 0 0 0;
}
.tableLinks{
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
.leftBox .tableLinks span{
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0 0 20px 0;
  color: #9b9da0;
  display: inline-block;
}
.leftBox .tableLinks .active{
  color: black;
}
.tableLinks i{
  margin: 0 10px 0 10px;
  font-size: 18px;
  color: #9b9da0;
}
.table{
  width: 100%;
}
.table td:nth-child(2){
  width: 300px;
  padding: 12px 30px 18px;
}
.table td:nth-child(4){
  font-size: 14px;
  color: #9b9da0;
}
.table td{
  padding: 12px 10px 18px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
.table td i{
  font-size: 30px;
  color: #267abe;
  position: relative;
  top: 5px;
  left: 15px;
}
.settingIcon{
  color: #9d9fa2 !important;
  cursor: pointer;
}
.tableAddIcon{
  font-size: 22px !important;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 15px 0 0;
  display: inline-block;
  float: left;
}
.popover{
  width: 200px;
  height: auto;
  padding: 15px 15px 5px 15px;
}
.popover img{
  position: absolute;
  top: -12px;
  left: 45%;
}
.popover .scroll-content .scroll{
  margin: 0 0 10px 0;
  cursor: pointer;
}
.popover .scroll-content .scroll i{
  color: #267abe;
}
.popover .scroll-content{
  position: static;
}
.upgradeBtn{
  float: right;
  padding: 1px 30px 8px 0 !important;
}
.upgradeBtn button{
  background: #f1592a;
  color: white;
  border: none;
  font-family: 'Merriweather', serif;
  padding: 3px 15px 0;
  border-radius: 30px;
}
/*////////////////// setting popover ////////////////////////*/
.popoverTable{
  width: 100px;
  height: auto;
  padding: 15px 15px 5px 15px;
  text-align: center;
}
.popoverTable img{
  left: 42%;
}
/*////////////////// setting popover ////////////////////////*/
/*////////////////// description popover ////////////////////////*/
.popoverDescription{
  opacity: 1;
  width: 300px;
  /*top: 36%;*/
  left: 42%;
}
/*////////////////// description popover ////////////////////////*/
.slickSlider{
  width: 60%;
  margin: 0 auto;
}
.slickSlider .slick-prev, .slick-next {
  border-radius: 50%;
  border: 1px solid #cccccc;
  height: 50px;
  width: 50px;
}
.slickSlider .slick-prev:before, .slickSlider .slick-next:before {
  font-family: "Ionicons";
  color: #267abe;
  font-size: 24px;
  font-weight: 600;
}
.slickSlider .slick-prev:before {
  content: "\f3cf";
  margin-right: 4px;
}
.slickSlider .slick-next:before {
  content: "\f3d1";
  margin-left: 4px;
}
/*/////////////// Home1 styling End Here //////////////////*/

/*/////////////// Home1 menu button styling //////////////////*/
.menuBtn{
  display: none;
}
.linksNavMobile{
  display: none;
}
/*/////////////// Home1 menu button styling //////////////////*/


/*/////////////////////////////////////////////////////////*/
/*//////////////////Media Query Start Here ////////////////*/
/*/////////////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 500px){
  .login{
    width: 100%;
  }
  .input-label{
    max-width: 100%;
    width: 100%;
  }
  .buttonsParent .buttons .backBtn{
    margin-right: 6px;
  }
  .savePassword{
    width: 100% !important;
    font-size: 18px;
  }
  .row{
    padding: 0;
  }
  .col{
    padding: 0;
  }
  .col-offset-25 {
    margin-left: 0;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*/////////////////////////////////////////////////////////*/
/*//////////////////Media Query End Here //////////////////*/
/*/////////////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 767px){
  .headerNav{
    height: auto;
  }
  .nav {
    width: 100%;
    padding: 10px 15px 6px 15px;
    height: auto;
  }
  .linksNav {
    display: none;
  }
  .linksNav h5{
    margin: 0;
  }
  .tabsNav {
    width: 90%;
    margin: 0 auto;
  }
  .tabsNav ul li {
    display: block;
    margin: 0 0 8px 0;
  }
  .headerNav .navHeading{
    width: 70%;
    text-align: left;
    font-size: 24px;
  }
  .tabsApp {
    width: 100%;
    padding: 0 15px;
    height: 160px;
  }
  .headerApp .appUl {
    width: 100%;
  }
  .headerApp{
    height: auto;
  }
  .tabsApp ul li {
    display: block;
    margin: 0 0 8px 0;
    width: 100%;
  }
  .rightContent {
    padding: 0 20px;
  }
  .slickSlider {
    width: 100%;
  }
  .slickSlider .slick-prev, .slick-next{
    display: none !important;
  }
  .slickSlider .slick-prev:before{
    font-size: 16px;
    margin-right: 1px;
  }
  .slickSlider .slick-next:before{
    font-size: 16px;
    margin-left: 2px;
  }
  .firstRow h3{
    margin: 0 0 15px 0;
    display: block;
  }
  .firstRow span{
    margin: 0 0 30px 0;
  }
  .responsiveSliderBg{
    background: #f3f3f4;
    padding: 40px 0 40px 0;
  }
  .slick-slider{
    margin: 0;
  }
  .menuBtn{
    display: block;
    float: right;
    background: #0973ba;
    color: white;
    padding: 3px 15px !important;
    border: none;
    font-size: 16px !important;
  }
  .linksNavMobile{
    display: block;
    padding: 20px 30px 0;
  }
  .full-information {
    margin: 0;
    width: 100%;
    text-align: center;
    color: black;
  }
  .vital{
    padding: 20px 0;
  }
  .list-inset {
    margin: -4px 0 0 0;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .my-account-link {
    width: 100%;
    color: #f15c2d !important;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .my-account-link:last-of-type{
    margin-left: 0;
  }
  .anchorChild{
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px 0 0 0;
  }
  .lastEle{
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ccc;
  }
  .home1-tabs {
    width: 100%;
    margin: 15px 0 5px 0;
  }
  .home1-tabs ul li {
    padding: 8px 0 8px 0;
    width: 100%;
    text-align: center;
    color: rgb(35, 129, 193);
  }
  .home1-tabs ul li:first-child{
    border-right: 0;
    display: inline-block;
    color: rgb(9, 115, 186);
  }
  .home1-tabs ul li{
    display: none;
  }
  .leftBox {
    padding: 0 10px;
    width: 100%;
    margin: 0 0 0 0;
  }
  .leftBox .tableLinks span{
    font-size: 16px;
  }
  .table td:nth-child(3){
    display: none;
  }
  .table td:nth-child(4){
    display: none;
  }
  .table td:first-child {
    padding: 12px 0 8px;
  }
  .table td:nth-child(2) {
    padding: 12px 20px 18px;
  }
  .table td:last-child i {
    left: 0;
  }
  .popover-arrow:after{
    display: none !important;
  }
  .popoverTable img {
    left: 64%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .tabsNav ul li {
    margin: 0 50px 0 0;
  }
  .headerNav .navHeading{
    width: 25%;
    font-size: 30px;
  }
  .linksNav {
    width: 75%;
  }
  .nav {
    width: 100%;
    padding: 30px 15px 20px 15px;
  }
  .full-information {
    margin: 12px 0 0 10px;
    font-size: 12px;
  }
  .my-account-link{
    font-size: 12px;
  }
  .list-inset {
    margin: -4px 0 0 10px;
  }
  .my-account-link:last-of-type {
    margin-left: 10px;
  }
  .item-input input{
    padding-right: 0 !important;
  }
  .home1-tabs {
    width: 100%;
    margin: 15px 0 13px 0;
    padding: 0 20px;
  }
  .rowPadding {
    padding: 5px 15px;
  }
}
.title-popup span:before{
  font-size: 30px;
  position: absolute;
  right: 9px;
  top: 0;
}
.title-popup-heading{
  text-align: left
}
