/* Empty. Add your own CSS if you like */
.login{
  padding: 100px 15px 0 15px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.login h1{
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Arvo', serif;
  margin: 0 0 50px 0;
  word-spacing: 5px;
  font-weight: 400;
  text-align: center;
}
.signUpH1{
  margin: 0 0 15px 0 !important;
}
.login h4{
  font-size: 24px;
  margin: 0 0 30px 0;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: black;
}
.login span{
  font-size: 20px;
  margin: 0 0 30px 0;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  line-height: 26px;
}
.login span a{
  text-decoration: none;
  font-weight: 500;
  color: #1072ba;
}
form .list span{
  margin: 0;
}
form .list .item{
  border-color: #333333;
}
.forgot-password{
  color: #1072ba;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 15px 0 0 0;
  display: inline-block;
  word-spacing: 3px;
  letter-spacing: 0.2px;
  text-decoration: none;
  border-bottom: 1px solid #1072ba;
}
.button{
  border-radius: 0;
  font-size: 20px;
  letter-spacing: 0.2px;
  min-height: 50px;
}
.button.button-block, .button.button-full{
  margin-top: 20px;
}
.passwordCharacters{
  margin: 0 0 15px 0;
  font-size: 12px;
  color: #939597;
}
.listSignUp{
  margin: 0;
}
.signUpTabs{
  display: inline-block;
}
.signUpTabs .tabs{
  width: 100%;
  display: inline-block;
  top: 170px;
}
.signUpTabs .tabs .tab-item{
  width: 50%;
  max-width: 50%;
  float: left;
  color: #D1D2D4;
  border-bottom: 4.8px solid #D1D2D4;
  font-size: 22px;
}
.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated{
  color: #000;
  border-bottom: 5px solid #1071B9;
  border-width: 0 0 5px 0 !important;
}
.item-select select{
  max-width: 100%;
  width: 100%;
  direction: inherit;
}
.item-input{
  height: 50px;
}
.gender{
  margin: 5px 0 5px 0 !important;
}
.tabsBox{
  margin-top: 50px;
}
.buttonsParent{
  padding: 0;
}
.buttonsParent .buttons{
  padding: 0;
}
.buttonsParent .buttons .button.button-block, .button.button-full{
  width: 49%;
  float: left;
  margin-top: 30px;
  clear: none;
  background: #1071B9;
}
.buttonsParent .buttons .backBtn{
  margin-right: 9px;
  background: none !important;
  border: 1px solid #1071B9;
  color: #1071B9;
}


/*/////////////////////////////////////////////////////////*/
/*//////////////////Media Query Start Here ////////////////*/
/*/////////////////////////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 500px){
  .login{
    width: 100%;
  }
  .input-label{
    max-width: 100%;
    width: 100%;
  }
}
/*/////////////////////////////////////////////////////////*/
/*//////////////////Media Query End Here //////////////////*/
/*/////////////////////////////////////////////////////////*/
